@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto");
.global-header, .timeline .links a, .timeline .links a:link, .timeline .links a:visited {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.timeline .image-list li img, .timeline .links a:hover, .timeline .links a:visited {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6,
body, html,
table, tr, th, td, tfoot, thead, tbody,
p,
ul, ol, li, dd, dl,
pre {
  padding: 0;
  margin: 0; }

html, body {
  min-height: 100%; }

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  color: #212121;
  padding: 64px 0; }

a {
  text-decoration: none;
  display: inline-block; }

.middle-aligner {
  display: inline-block;
  vertical-align: middle; }

.middle-aligner {
  height: 100%; }

.page-push {
  padding-top: 64px; }

.container.padded {
  padding: 0 64px; }

.controller {
  display: none; }

.title, .global-header, .timeline .long-description .subtitle {
  font-family: "Open Sans", sans-serif; }

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 64px;
  background-color: #ff9800;
  z-index: 1000; }
  .global-header li {
    list-style: none;
    display: inline-block; }
  .global-header .logo {
    padding-right: 22px;
    color: #fafafa;
    font-weight: bold; }
  .global-header a {
    display: inline-block;
    padding: 16px 22px; }
    .global-header a, .global-header a:link, .global-header a:visited {
      color: #fafafa; }
    .global-header a:hover, .global-header a:active {
      color: #e0e0e0; }

.timeline {
  padding-left: 200px;
  display: block; }
  .timeline .date {
    font-style: italic;
    margin-left: -238px;
    width: 200px;
    text-align: right;
    height: 0;
    overflow: visible;
    font-size: 14px;
    transform: rotate(15deg);
    transform-origin: 100% 50% 0; }
    .timeline .date .time-span {
      font-size: 11px;
      color: #9e9e9e; }
    .timeline .date span {
      white-space: nowrap;
      display: inline-block; }
  .timeline .element {
    padding-left: 19px;
    margin-left: 5px;
    border-left: 1px solid #e65100;
    padding-bottom: 28px; }
    .timeline .element:last-child {
      padding-bottom: 8px; }
    .timeline .element::before {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #ff9800;
      content: '';
      margin-left: -24px;
      margin-bottom: -16px; }
  .timeline .permalink {
    display: inline-block;
    font-size: 11px;
    opacity: 0.2;
    transition: opacity 175ms cubic-bezier(0.4, 0, 0.2, 1); }
  .timeline .title, .timeline .global-header, .timeline .long-description .subtitle {
    font-weight: bold;
    color: #212121; }
    .timeline .title:hover .permalink, .timeline .global-header:hover .permalink, .timeline .long-description .subtitle:hover .permalink {
      opacity: 0.6; }
  .timeline .tech {
    color: #9e9e9e;
    font-size: 12px; }
    .timeline .tech > div {
      display: inline-block; }
      .timeline .tech > div::before {
        content: ' - '; }
      .timeline .tech > div:first-child::before {
        content: ''; }
  .timeline .description {
    padding-top: 8px;
    max-width: 600px; }
  .timeline .more {
    display: none;
    margin-top: 16px; }
  .timeline label {
    cursor: pointer;
    display: block; }
    .timeline label:hover .collapse-arrow {
      opacity: 1; }
  .timeline .collapse-arrow {
    width: 600px;
    padding: 16px;
    text-align: center;
    opacity: 0.3;
    transition: opacity 175ms cubic-bezier(0.4, 0, 0.2, 1); }
  .timeline .controller:checked + .element .more {
    display: block; }
  .timeline .controller:checked + .element .fa-angle-down {
    display: none; }
  .timeline .image-list {
    white-space: nowrap;
    overflow: auto;
    padding: 0 16px; }
    .timeline .image-list li {
      display: inline-block;
      list-style: none;
      vertical-align: middle;
      margin: 16px 16px; }
      .timeline .image-list li:first-child {
        margin-left: 0; }
      .timeline .image-list li:last-child {
        margin-right: 0; }
      .timeline .image-list li img {
        max-height: 80vh; }
  .timeline .long-description {
    max-width: 600px;
    margin-top: 32px; }
    .timeline .long-description div {
      text-indent: 16px;
      margin-bottom: 16px; }
      .timeline .long-description div:last-child {
        margin-bottom: 0; }
    .timeline .long-description .subtitle {
      display: inline-block;
      font-weight: normal;
      background-color: #ff9800;
      color: #fafafa;
      padding: 0 16px;
      margin-bottom: 4px;
      text-indent: 0; }
      .timeline .long-description .subtitle + div {
        text-indent: 0; }
      .timeline .long-description .subtitle:last-child {
        margin-bottom: 4px; }
      .timeline .long-description .subtitle pre {
        background-color: transparent; }
    .timeline .long-description pre {
      display: inline-block;
      font-size: 16px;
      background-color: #e0e0e0; }
    .timeline .long-description ul {
      margin-left: 16px; }
  .timeline .links {
    margin-top: 32px; }
    .timeline .links a, .timeline .links a:link, .timeline .links a:visited {
      padding: 8px 16px;
      transition: box-shadow 175ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #ff9800;
      margin-right: 16px;
      margin-bottom: 8px; }
    .timeline .links i {
      padding-left: 16px;
      font-size: 12px; }

/*# sourceMappingURL=root.css.map */
