@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto");
.global-header, .home .links a, .home .links a:link, .home .links a:visited, .timeline .links a, .timeline .links a:link, .timeline .links a:visited, .connect a, .connect a:link, .connect a:visited,
.download a,
.download a:link,
.download a:visited {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.home .links a:hover, .home .links a:visited, .timeline .image-list li img, .timeline .links a:hover, .timeline .links a:visited, .connect a:hover, .connect a:visited,
.download a:hover,
.download a:visited {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6,
body, html,
table, tr, th, td, tfoot, thead, tbody,
p,
ul, ol, li, dd, dl,
pre {
  padding: 0;
  margin: 0; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  color: #212121; }

a {
  text-decoration: none;
  display: inline-block; }

.middle-aligner {
  display: inline-block;
  vertical-align: middle; }

.middle-aligner {
  height: 100%; }

.page-push {
  padding-top: 64px; }
  @media (max-width: 800px) {
    .page-push {
      padding-top: 34px; } }

.container.padded {
  padding: 0 64px; }
  @media (max-width: 800px) {
    .container.padded {
      padding: 0 16px; } }

.controller {
  display: none; }

.title, .global-header, .timeline .long-description .subtitle, .resume .section-title {
  font-family: "Open Sans", sans-serif; }

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 64px;
  background-color: #ff9800;
  z-index: 1000;
  height: 54px; }
  @media (max-width: 800px) {
    .global-header {
      padding: 0 16px;
      height: 46px;
      font-size: 15px; } }
  .global-header li {
    list-style: none;
    display: inline-block; }
  .global-header .logo {
    padding-right: 22px;
    color: #fafafa;
    font-weight: bold; }
    @media (max-width: 800px) {
      .global-header .logo {
        padding-right: 10px; } }
  .global-header a {
    display: inline-block;
    padding: 0 22px;
    line-height: 54px; }
    @media (max-width: 800px) {
      .global-header a {
        padding: 0 10px;
        line-height: 46px; } }
    .global-header a, .global-header a:link, .global-header a:visited {
      color: #fafafa; }
    .global-header a:hover, .global-header a:active {
      color: #e0e0e0; }

.header-push {
  height: 54px; }
  @media (max-width: 800px) {
    .header-push {
      height: 46px; } }

.home {
  height: 100%;
  background-color: #ff9800; }
  .home .title, .home .global-header, .home .timeline .long-description .subtitle, .timeline .long-description .home .subtitle, .home .resume .section-title, .resume .home .section-title {
    font-size: 48px;
    font-weight: bold;
    color: #fafafa; }
  .home .links a, .home .links a:link, .home .links a:visited {
    padding: 8px 32px;
    transition: box-shadow 175ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fafafa;
    margin-right: 16px;
    margin-bottom: 8px;
    background-color: #e65100;
    border-radius: 2px; }

.timeline {
  padding-left: 200px;
  display: block; }
  @media (max-width: 800px) {
    .timeline {
      padding-left: 16px; } }
  .timeline .date {
    font-style: italic;
    margin-left: -238px;
    width: 200px;
    text-align: right;
    height: 0;
    overflow: visible;
    font-size: 14px;
    transform: rotate(15deg);
    transform-origin: 100% 50% 0; }
    @media (max-width: 800px) {
      .timeline .date {
        margin-left: 0;
        height: auto;
        text-align: left;
        transform: none;
        margin-bottom: 12px; } }
    .timeline .date .time-span {
      font-size: 11px;
      color: #9e9e9e; }
    .timeline .date span {
      white-space: nowrap;
      display: inline-block; }
  .timeline .element {
    padding-left: 19px;
    margin-left: 5px;
    border-left: 1px solid #e65100;
    padding-bottom: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .timeline .element:last-child {
      padding-bottom: 8px; }
    .timeline .element::before {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #ff9800;
      content: '';
      margin-left: -24px;
      margin-bottom: -16px; }
    @media (max-width: 800px) {
      .timeline .element {
        padding-bottom: 40px; } }
  .timeline .permalink {
    display: inline-block;
    font-size: 11px;
    opacity: 0.2;
    transition: opacity 175ms cubic-bezier(0.4, 0, 0.2, 1); }
  .timeline .title, .timeline .global-header, .timeline .long-description .subtitle, .timeline .resume .section-title, .resume .timeline .section-title {
    font-weight: bold;
    color: #212121; }
    .timeline .title:hover .permalink, .timeline .global-header:hover .permalink, .timeline .long-description .subtitle:hover .permalink, .timeline .resume .section-title:hover .permalink, .resume .timeline .section-title:hover .permalink {
      opacity: 0.6; }
  .timeline .tech {
    color: #9e9e9e;
    font-size: 12px; }
    .timeline .tech > div {
      display: inline-block; }
      .timeline .tech > div::before {
        content: ' - '; }
      .timeline .tech > div:first-child::before {
        content: ''; }
  .timeline .description {
    padding-top: 8px;
    max-width: 600px; }
  .timeline .more {
    display: none;
    margin-top: 16px; }
  .timeline label {
    cursor: pointer;
    display: block; }
    .timeline label:hover .collapse-arrow {
      opacity: 1; }
  .timeline .collapse-arrow {
    width: 600px;
    padding: 16px;
    text-align: center;
    opacity: 0.3;
    transition: opacity 175ms cubic-bezier(0.4, 0, 0.2, 1); }
    @media (max-width: 800px) {
      .timeline .collapse-arrow {
        width: 100%; } }
  .timeline .controller:checked + .element .more {
    display: block; }
  .timeline .controller:checked + .element .fa-angle-down {
    display: none; }
  .timeline .image-list {
    white-space: nowrap;
    overflow: auto;
    padding: 0 16px; }
    .timeline .image-list li {
      display: inline-block;
      list-style: none;
      vertical-align: middle;
      margin: 16px 16px; }
      .timeline .image-list li:first-child {
        margin-left: 0; }
      .timeline .image-list li:last-child {
        margin-right: 0; }
      .timeline .image-list li img {
        max-height: 80vh; }
  .timeline .long-description {
    max-width: 600px;
    margin-top: 32px; }
    .timeline .long-description div {
      text-indent: 16px;
      margin-bottom: 16px; }
      .timeline .long-description div:last-child {
        margin-bottom: 0; }
    .timeline .long-description .subtitle {
      display: inline-block;
      font-weight: normal;
      background-color: #ff9800;
      color: #fafafa;
      padding: 0 16px;
      margin-bottom: 4px;
      text-indent: 0; }
      .timeline .long-description .subtitle + div {
        text-indent: 0; }
      .timeline .long-description .subtitle:last-child {
        margin-bottom: 4px; }
      .timeline .long-description .subtitle pre {
        background-color: transparent; }
    .timeline .long-description pre {
      display: inline-block;
      font-size: 16px;
      background-color: #e0e0e0; }
    .timeline .long-description ul {
      margin-left: 16px; }
  .timeline .links {
    margin-top: 32px; }
    .timeline .links a, .timeline .links a:link, .timeline .links a:visited {
      padding: 8px 16px;
      transition: box-shadow 175ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #ff9800;
      margin-right: 16px;
      margin-bottom: 8px;
      background-color: #fff;
      border-radius: 2px; }
    .timeline .links i {
      padding-left: 16px;
      font-size: 12px; }

.resume {
  max-width: 1200px;
  margin: 0 auto; }
  .resume .section-title {
    font-weight: bold;
    color: #9e9e9e;
    margin-top: 48px; }
  .resume .entry {
    margin-top: 24px; }
    .resume .entry:first-child {
      margin-top: 8px; }
    .resume .entry .entry-head {
      display: flex; }
    .resume .entry .entity {
      flex: 0 0 35%;
      padding-right: 18px;
      font-weight: bold; }
    .resume .entry .location {
      flex: 0 0 25%;
      padding-right: 18px; }
    .resume .entry .date {
      text-align: right;
      flex: 1 1 auto; }
    .resume .entry .title, .resume .entry .global-header, .resume .entry .timeline .long-description .subtitle, .timeline .long-description .resume .entry .subtitle, .resume .entry .section-title {
      font-style: italic;
      font-size: 14px;
      clear: both; }
  .resume a, .resume a:link, .resume a:visited {
    text-indent: 0;
    color: #ff9800; }
  .resume a:hover, .resume a:active {
    text-decoration: underline; }
  .resume span.red {
    color: #db3236; }
  .resume span.green {
    color: #3cba54; }
  .resume span.blue {
    color: #4885ed; }
  .resume ul {
    margin-top: 2px;
    list-style: none; }
    @media (max-width: 800px) {
      .resume ul {
        margin-top: 8px; } }
  .resume li {
    text-indent: -46px;
    margin-left: 46px; }
    .resume li::before {
      content: '●';
      padding: 0 18px; }
    @media (max-width: 800px) {
      .resume li {
        text-indent: -24px;
        margin-left: 24px;
        margin-top: 2px; }
        .resume li::before {
          content: '+';
          padding: 0 7px; } }
    .resume li.red::before {
      color: #db3236; }
    .resume li.green::before {
      color: #3cba54; }
    .resume li.blue::before {
      color: #4885ed; }
  @media (max-width: 800px) {
    .resume .entry .entry-head {
      display: block; }
    .resume .entry .location {
      float: left;
      font-size: 14px; }
    .resume .entry .date {
      text-align: left;
      float: right;
      font-size: 14px; }
    .resume .entry .title, .resume .entry .global-header, .resume .entry .timeline .long-description .subtitle, .timeline .long-description .resume .entry .subtitle, .resume .entry .section-title {
      color: #9e9e9e; } }
  .resume .achievements a {
    display: inline; }

.resume-header .name {
  font-size: 36px;
  margin-left: -2px; }
.resume-header .email {
  margin-top: -8px;
  color: #9e9e9e; }
  .resume-header .email::before {
    content: 'kodl'; }
  .resume-header .email::after {
    content: '1t.me'; }

.connect a, .connect a:link, .connect a:visited,
.download a,
.download a:link,
.download a:visited {
  padding: 8px 16px;
  transition: box-shadow 175ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ff9800;
  background-color: #fff;
  border-radius: 2px;
  margin: 2px 8px 2px 0; }
.connect a:hover, .connect a:visited,
.download a:hover,
.download a:visited {
  text-decoration: none; }
.connect i,
.download i {
  margin-left: 16px; }

/*# sourceMappingURL=root.css.map */
