#global-content {
	padding-left: $desktop-navbar-width;
}
.nav-push {
	padding-top: $content-padding * 2;
}

.card-list {
	li, a:link, a:visited {
		display: inline-block;
		width: $desktop-card-width - $content-padding;
		vertical-align: top;
	}
}

.card-container {
	display: inline-block;
	width: $desktop-card-width;
	vertical-align: top;
}

