@CHARSET "UTF-8";
/*********************************************************Extendables*/
.noselect, #global-console {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fullscreen, #background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed; }

.fullscreen-child, #global-console, #nojs {
  width: 100%;
  height: 100%; }

.page-minimums, .fullscreen, #background, body, html {
  min-width: 1000px;
  min-height: 600px; }

/****************************************************************Root*/
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #DDD;
  font-family: Optima, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; }

#background {
  z-index: -1;
  background-color: #000; }
  #background * {
    background: transparent; }

/*********************************************************_console.scss*/
.console {
  font-size: 12px;
  font-family: monospace;
  color: #999; }
  .console .red {
    color: #F00; }
  .console .blue {
    color: #99F; }
  .console .green {
    color: #0F0; }

#global-console {
  cursor: default;
  padding-left: 2px;
  overflow: visible; }
  #global-console div {
    -webkit-animation: console-entry-fadein 0.5s ease-in;
    -moz-animation: console-entry-fadein 0.5s ease-in;
    animation: console-entry-fadein 0.5s ease-in; }
  #global-console > div:before {
    content: '> ';
    color: #999; }

/********************************************************Animations*/
@-webkit-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
@-moz-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
@keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
/**************************************************************_nojs.scss*/
#nojs {
  color: #99F;
  background-color: #EEE;
  font-size: 0;
  z-index: 9999999999; }

/***************************************************************Graphics*/
#nojs_graphic {
  width: 40%;
  text-align: right;
  min-height: 100%;
  font-size: 20px;
  float: left;
  font-size: 0; }
  #nojs_graphic div {
    display: inline-block; }
  #nojs_graphic .clearfix {
    width: 100%;
    height: 0px;
    opacity: 0; }
  #nojs_graphic > div {
    text-align: center;
    width: 250px;
    margin-right: 20%; }

#nojs_plug_cord {
  height: 200px;
  width: 50px;
  background-color: #666; }
  @media (max-height: 800px) {
    #nojs_plug_cord {
      height: 100px; } }

#nojs_plug_head {
  height: 125px;
  width: 250px;
  border-radius: 125px 125px 0 0;
  background-color: #666;
  margin-top: -10px; }

.nojs_socket_prong {
  height: 100px;
  width: 50px;
  background-color: #666;
  border-radius: 0 0 10px 10px; }

#nojs_socket {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #666;
  margin-top: 100px; }
  @media (max-height: 800px) {
    #nojs_socket {
      margin-top: 30px; } }

.nojs_socket_pin {
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 25px; }

.nojs_socket_pin_spacer {
  width: 30px; }

#nojs_socket_pins {
  margin-top: 100px; }

/***************************************************************Text*/
#nojs_text_push {
  height: 50%;
  width: 1px;
  float: left; }

#nojs_text {
  width: 60%;
  font-size: 30px;
  float: left; }
  #nojs_text > div {
    margin-top: -217px;
    width: 500px; }
    #nojs_text > div > h1 {
      border-bottom: 3px solid #99F; }

/******************************************************_navigation.scss*/
#global-nav-toggle {
  display: none; }

@media (min-width: 1000px) and (min-height: 600px) {
  #global-nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: -150px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
    overflow: visible;
    background-color: #999;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out; }

  .global-nav-item {
    position: absolute;
    font-size: 32px;
    top: 50%;
    width: 150px;
    height: 100px;
    line-height: 100px;
    right: -150px;
    -webkit-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    -moz-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29); }
    .global-nav-item:hover {
      background-color: #999; }

  .global-nav-item:nth-of-type(2) {
    margin-top: -350px; }

  .global-nav-item:nth-of-type(3) {
    margin-top: -262.13203px; }

  .global-nav-item:nth-of-type(4) {
    margin-top: -50px; }

  .global-nav-item:nth-of-type(5) {
    margin-top: 162.13203px; }

  .global-nav-item:nth-of-type(6) {
    margin-top: 250px; }

  #global-nav {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    position: fixed;
    z-index: 999999;
    border-left: 1px solid #FFF; }
    #global-nav:hover {
      width: 450px; }
      #global-nav:hover #global-nav-toggle {
        background-color: #FFF;
        right: -100px; }
      #global-nav:hover .global-nav-item:nth-of-type(2) {
        right: 0.0px; }
      #global-nav:hover .global-nav-item:nth-of-type(3) {
        right: 212.13203px; }
      #global-nav:hover .global-nav-item:nth-of-type(4) {
        right: 300px; }
      #global-nav:hover .global-nav-item:nth-of-type(5) {
        right: 212.13203px; }
      #global-nav:hover .global-nav-item:nth-of-type(6) {
        right: 0.0px; } }

/*# sourceMappingURL=global.css.map */
