// Styles relating to the projects page

$timeline-line-color: $orange-900;
$timeline-dot-color: $orange-500;
$timeline-dot-size: 10px;
$timeline-dot-content-spacing: 14px;
$timeline-dot-top-offset: 6px;

$timeline-date-width: 200px;
$timeline-date-spacing: 14px;

$timeline-block-text-max-width: 600px;

.timeline {
  padding-left: $timeline-date-width;
  display: block;

  .date {
    font-style: italic;
    margin-left: -$timeline-date-width
				- $timeline-dot-size
				- $timeline-dot-content-spacing
				- $timeline-date-spacing;
    width: $timeline-date-width;
    text-align: right;
    height: 0;
    overflow: visible;
    font-size: 14px;

    transform: rotate(15deg);
    transform-origin: 100% 50% 0;

    .time-span {
      font-size: 11px;
      color: $grey-500;
    }

    span {
      white-space: nowrap;
      display: inline-block;
    }
  }

  .element {
    padding-left: $timeline-dot-size
				+ $timeline-dot-content-spacing
				- ($timeline-dot-size / 2);
    margin-left: $timeline-dot-size / 2;
    border-left: 1px solid $timeline-line-color;
    padding-bottom: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:last-child {
      padding-bottom: 8px;
    }

    // Timeline dot
    &::before {
      display: block;
      width: $timeline-dot-size;
      height: $timeline-dot-size;
      border-radius: $timeline-dot-size / 2;
      background-color: $timeline-dot-color;
      content: '';

      // "removing" the dot from the flow.
      margin-left: -$timeline-dot-size - $timeline-dot-content-spacing;
      margin-bottom: -$timeline-dot-size - $timeline-dot-top-offset;
    }

  }

  .permalink {
    display: inline-block;
    font-size: 11px;
    opacity: 0.2;
    transition: opacity $time-responsive $default-ease;
  }

  .title {
    font-weight: bold;
    color: $grey-900;

    &:hover .permalink {
      opacity: 0.6;
    }
  }

  .tech {
    color: $grey-500;
    font-size: 12px;

    > div {
      display: inline-block;

      &::before {
        content: ' - ';
      }

      &:first-child::before {
        content: '';
      }
    }
  }

  .description {
    padding-top: 8px;
    max-width: $timeline-block-text-max-width;
  }

  .more {
    display: none;
    margin-top: 16px;
  }

  label {
    cursor: pointer;
    display: block;

    &:hover {
      .collapse-arrow {
        opacity: 1;
      }
    }
  }

  .collapse-arrow {
    width: $timeline-block-text-max-width;
    padding: 16px;
    text-align: center;
    opacity: 0.3;
    transition: opacity $time-responsive $default-ease;
  }

  .controller {
    &:checked + .element {
      .more {
        display: block;
      }

      .fa-angle-down {
        display: none;
      }
    }
  }

  .image-list {
    white-space: nowrap;
    overflow: auto;
    padding: 0 16px;

    li {
      display: inline-block;
      list-style: none;
      vertical-align: middle;
      margin: 16px 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        @extend %layer-2;
        max-height: 80vh;
      }
    }
  }

  .long-description {
    max-width: $timeline-block-text-max-width;
    margin-top: 32px;

    div {
      text-indent: 16px;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .subtitle {
      @extend .title;
      display: inline-block;
      font-weight: normal;
      background-color: $orange-500;
      color: $grey-50;
      padding: 0 16px;
      margin-bottom: 4px;
      text-indent: 0;

      + div {
        text-indent: 0;
      }

      &:last-child {
        margin-bottom: 4px;
      }

      pre {
        background-color: transparent;
      }
    }

    pre {
      display: inline-block;
      font-size: 16px;
      background-color: $grey-300;
    }

    ul {
      margin-left: 16px;
    }
  }

  .links {
    margin-top: 32px;

    a {
      &, &:link, &:visited {
        @extend %layer-1;
        padding: 8px 16px;
        transition: box-shadow $time-responsive $default-ease;
        color: $orange-500;
        margin-right: 16px;
        margin-bottom: 8px;
        background-color: #fff;
        border-radius: 2px;
      }

      &:hover, &:visited {
        @extend %layer-2;
      }
    }

    i {
      padding-left: 16px;
      font-size: 12px;
    }
  }
}
