.home {
	// Thanks to ColorZilla's awesome online css gradient tool.
	// http://www.colorzilla.com/gradient-editor/
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, -moz-linear-gradient(top, #539ba9 0%, #e8e7d3 100%); /* FF3.6+ */
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#539ba9), color-stop(100%,#e8e7d3)); /* Chrome,Safari4+ */
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, -webkit-linear-gradient(top, #539ba9 0%,#e8e7d3 100%); /* Chrome10+,Safari5.1+ */
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, -o-linear-gradient(top, #539ba9 0%,#e8e7d3 100%); /* Opera 11.10+ */
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, -ms-linear-gradient(top, #539ba9 0%,#e8e7d3 100%); /* IE10+ */
	background: url("https://s3.amazonaws.com/ks_web/fru1t.me/bg-noise.png") repeat, linear-gradient(to bottom, #539ba9 0%,#e8e7d3 100%); /* W3C */

	.horizon {
		background: transparent url("https://s3.amazonaws.com/ks_web/fru1t.me/horizon.png") repeat-x scroll bottom center;
		height: 121px;
		margin-bottom: -1px;
	}
	h1 {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		text-align: center;
		font-weight: bold;
		color: #FFF;
		height: 20px;
	}

	.parallax-push {
		height: 250vh;

		// What??? Why??? See below for details
		-moz-animation-duration: 5s;
		-moz-animation-name: firefox-fix;
	}

	.overlay {
		> div {
			color: $body-text-color-inverse;
			background-color: $body-background-color-inverse;
			padding-bottom: 40px;
		}
		h3 {
			padding-top: 40px;
		}
	}

	.bz {
		color: #000;
		font-size: 14px;
		//z-index: -1;
		> div {
			position: absolute;
		}
	}
	.bz-php {
		top: 100%;
		left: 30%;
	}
	.bz-mysql {
		top: 130%;
		right: 10px;
	}
	.bz-js {
		top: 150%;
		left: 10%;
	}
	.bz-delphi {
		top: 720%;
		right: 25%;
	}
	.bz-java {
		top: 115%;
		right: 30%;
	}
	.bz-html {
		top: 146%;
		left: 10%;
	}
	.bz-cpp {
		top: 420%;
		left: 18%;
	}
	.bz-cs {
		top: 185%;
		right: 38%;
	}
	.bz-css {
		top: 120%;
		right: 33%
	}
	.bz-python {
		top: 330%;
		left: 22%;
	}
	.bz-en {
		top: 130%;
		right: 50%;
		border-bottom: 1px dotted #F00;
	}
	.bz-mssql {
		top: 103%;
		left: 5%;
	}
	.bz-jq {
		top: 121%;
		right: 41%;
	}
	.bz-btstrp {
		top: 137%;
		left: 21%;
	}
	.bz-asp {
		top: 213%;
		right: 17%;
	}
}

// Oh firefox.
// How I wish everything worked.
// At least you're not Internet Explorer.
// Firefox, unfortunately, has a rendering bug with transformX and Scale which produces
// a height that is severely larger than intended. This is a
// problem as it will scroll past the bottom of the page, displaying blank space.
// I found that by forcing a redraw when the page is loaded fixes the issue. To make this redraw
// as subtle as possible, I added 1px of padding to a push element on the page over the course of
// <insert animation-duration>. This effectively causes firefox to redraw the elements and calculate
// the correct heights for all elements.
@keyframes firefox-fix {
	0% { padding-top: 1px; }
	50% { padding-top: 0; }
	100% { padding-top: 1px; }
}
