// Mobile nav rules

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: visible;
	z-index: 99999999999;

	ul {
		list-style: none;
		width: 100%;
		position: absolute;
		left: 100%;
		right: -100%;
	}

	li {
		margin-left: 0;
		width: 100%;
		transition-property: margin-left;
		transition-timing-function: $ease-out;
		transition-duration: $duration-action;
		-webkit-transition-property: margin-left;
		-webkit-transition-timing-function: $ease-out;
		-webkit-transition-duration: $duration-action;

		// Stagger delay for style points
		@for $i from 1 through $nav-max-menu-items {
			&:nth-child(#{$i}) {
				@include transition-delay($nav-menu-item-cascade-delay * ($i - 1));
			}
		}
	}

	.controller:checked + ul li {
		margin-left: -100%;
	}

	label,
	a:link, a:visited {
		display: block;
		height: $nav-banner-height;
		line-height: $nav-banner-height;
		text-decoration: none;
		color: $active-text;
		padding: 0 $content-padding;
		border-bottom: 1px solid $nav-border-color;
		font-size: 14px;
		background-color: #FFFFFF;
		width: 100%;
		overflow: hidden;
	}

	label:hover,
	a:hover, a:active {
		background-color: $nav-banner-background;
		color: $body-background-color;
	}

	li.nav-close,
	li.nav-close > label,
	li.nav-close > label:hover {
		height: 100vh;
		background-color: transparent;
		font-size: 0;
	}
}

.nav-banner {
	&::before {
		content: 'Fru1tMe / ';
		font-weight: bold;
	}

	border: none;
	background-color: $nav-banner-background;
	color: $body-background-color;
	font-size: 16px;
	cursor: pointer;
}

// Display close nav banner when nav is open
#nav-state-closed:checked {
	~ #nav-closed-banner { display: block; }
	~ #nav-open-banner { display: none; }
}
#nav-state-closed:not(:checked) {
	~ #nav-closed-banner { display: none; }
	~ #nav-open-banner { display: block; }
}
