// This file contains classes pertaining to parallax scrolling objects. It was heavily inspired by
// Kieth Clark with his awesome Pure CSS Parallax Websites article. Check it out here:
// http://keithclark.co.uk/articles/pure-css-parallax-websites/


// Layer depth mixin
$parallax-perspective: 300;
@mixin parallax-depth($depth) {
	transform: translateZ(#{$depth}px) scale(($parallax-perspective - $depth) / $parallax-perspective);
}

// Specifies a parallax layer, you shouldn't use this class.
.parallax-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Root parallax object. This specifies the screen for viewing the parallax content.
.parallax {
	perspective: #{$parallax-perspective}px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	@for $i from -10 through 6 {
		.layer-#{$i} {
			@extend .parallax-layer;
			@include parallax-depth($i * 50);
			z-index: 100 - $i;
		}
	}
}
