// This file contains all globally available classes n stuff.

//** Basic apply-everwhere rules
* {
	font-family: Raleway, Palatino, serif;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	background-color: $body-background-color;
}

body, html,
h1, h2, h3, h4, h5, h6,
ul, li, ol,
p,
fieldset, legend, input, button {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	&:link, &:visited {
		color: $active-text;
	}

	&:hover, &:active {
		color: $active-text-accent;
	}

	&.disabled {
		color: $active-text-disabled;
		cursor: default;
	}
}

a.inverse, label.inverse {
	color: $active-text-color-inverse;
	&:link, &:visited {
		color: $active-text-color-inverse;
	}

	&:hover, &:active {
		color: $active-text-accent-color-inverse;
	}
}

#global-content {
	min-height: 100%;
}

//** Flow control classes
.container {
	margin: 0 auto;
	padding: 0 $content-padding;
	display: block;
	max-width: 500px;

	&.nopadding {
		padding: 0;
	}
}

.controller {
	display: none;
}

//** Global styles
.page-header {
	h1 {
		// Brings the subtitle <p> closer due to un-removable font spacing
		margin-bottom: -4px;
		color: $nav-banner-background;
	}
	p {
		font-style: italic;
		color: $body-text-soft-color;
	}
}
.nav-push {
	padding-top: $content-padding * 2 + $nav-banner-height;
	padding-bottom: $content-padding * 2;
}
.card {
	background-color: $body-card-background-color;
	margin: $content-padding $content-padding/2 0;
	padding: $content-padding/2;
	box-shadow: 3px 3px 1px -1px #CCC;

	.title {
		font-size: 19px;
		font-weight: bold;
		> a {
			display: block;
		}
	}
	.subtitle {
		color: $body-text-blend;
		font-size: 14px;

		.position,
		.platforms {
			display: inline-block;
		}
		.location,
		.status {
			float: right;
		}
		.dates {
			clear: both;
		}
		.tags::before {
			content: 'Tags: ';
		}
	}
	.list {
		clear: both;
		padding-left: 10px;
		ul {
			list-style: none;
		}
		li {
			text-indent: -10px;
			padding-top: 8px;
		}
	}
}
.card-list {
	list-style: none;
	color: $body-text-soft-color;
	padding-top: $content-padding;
	font-size: 0;

	&.inline {
		padding-top: 0;
	}

	li,
	> a:link,
	> a:visited {
		padding: 8px $content-padding/2 8px $content-padding/2 + 10px;
		text-indent: -10px;
		background-color: $body-card-background-color;
		box-shadow: 3px 3px 1px -1px #CCC;
		margin: 5px $content-padding/2 0;
		font-size: 16px;
		display: block;
	}
	> a:hover,
	> a:active {
		color: $nav-background;
		background-color: $nav-banner-background;
	}

	i {
		float: right;
		margin-top: 1px;
	}

	.title {
		font-weight: bold;
	}
}
.content-push {
	height: $content-padding * 2;
}
fieldset {
	margin-top: $content-padding * 2;
	border: none;
	border-top: 1px solid $body-text-blend;
	legend {
		margin-left: $content-padding - 5px;
		padding: 0 5px;
		color: $nav-banner-background;
	}
}
.rolladex {
	margin-top: $content-padding * 2;
	width: 100%;
	overflow-x: auto;
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	padding-bottom: 10px;

	> img {
		display: inline-block;
		margin-right: $content-padding;
		max-height: 70vh;
		max-width: 90vw;
		box-shadow: 6px 6px 3px 0 #BBB;
		vertical-align: middle;

		// Fencepost margin
		&:nth-child(1) {
			margin-left: $content-padding;
		}
	}
}
.comment {
	font-size: 14px;
	color: $body-text-blend;
}
.code {
	background-color: $code-background-color;
	font-family: monospaced, monospace;
}
