// Screen modes
$device-mobile-cutoff: 760px;

// Colors colors everywhere
$body-background: #F2F2F2;
$nav-background: #E0E0E0;

// Active for links, accent for hover
$active-text: #436FE9;
$active-text-accent: #778fe9;
$active-text-disabled: #99B7C3;