// Sizings and layouts
$device-desktop-min-width: 900px;
$content-padding: 22px;
$desktop-navbar-width: 400px;
$desktop-card-width: 475px;

// Colors colors everywhere
$body-background-color: #EEE;
$body-text-color: #2D2D2D;
$body-background-color-inverse: $body-text-color;
$body-text-color-inverse: $body-background-color;
$body-text-blend: #A9A9A9;
$body-text-soft-color: #3F3F3F;
$body-card-background-color: #F6F6F6;

$nav-banner-background: #778fe9;
$nav-background: #FFFFFF;
$nav-border-color: #E9E9E9;

// Active for links, accent for hover
$active-text: #436FE9;
$active-text-accent: #778fe9;
$active-text-disabled: #99B7C3;
$active-text-color-inverse: $nav-banner-background;
$active-text-accent-color-inverse: $active-text-disabled;

// Easing beziers
$ease-out: cubic-bezier(.17,.84,.44,1);
$ease-in: cubic-bezier(.9,.03,.69,.22);

// Animation timings
$duration-action: 0.3s;

// navigation
$nav-banner-height: 42px;
$nav-menu-item-height: 42px;
$nav-menu-item-cascade-delay: 0.05s;
