/****************************************************************Changelog*/
.git-list {
	dd {
		border-bottom: 1px solid #999;
		margin-bottom: 30px;
	}
	dt {
		font-weight: bold;
		padding-left: 20px;
		padding: 10px;
	}
	blockquote {
		padding: 4px 0 4px 10px;
		border-left: 2px solid #333;
		margin: 0 40px 10px 40px;
		font-style: italic;
	}
}
.git-linecounts {
	float: left;
	.git-linecount {
		display: inline-block;
		padding-right: 7px;
		&:before {
			padding-right: 4px;
		}
	}
	.git-additions {
		@extend .git-linecount;
		color: $theme-text-green;
		&:before { content: '+'; }
	}
	.git-subtractions {
		@extend .git-linecount;
		color: $theme-text-red;
		&:before { content: '-'; }
	}
	.git-delta {
		@extend .git-linecount;
		color: $theme-text-blue;
		&:before { content: 'Δ'; }
	}
}

.git-files { 
	clear: both;
	padding: 10px 0;
}
.git-file {
	padding: 4px 10px 4px 10px;
	margin: 6px 0 6px 0;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	overflow: hidden;
	border-bottom: 1px solid #222;
	.sha {
		text-align: center;
		font-size: 10px;
	}
	.git-filename { 
		text-align: center;
		margin-bottom: 10px;
	}
}
.git-file-status {
	display: block;
	float: right;
	&.changed { color: $theme-text-blue; &:before { content: "changed"; } }
	&.added { color: $theme-text-green; &:before { content: "added"; } }
	&.deleted { color: $theme-text-red; &:before { content: "deleted"; } }
}
.git-patch {
	&:before { content: "Δ "; }
	&:after { content: " chars"; }
}