/************************************************Fru1tme Stylessss**/
$fm-link-height: 32px;
.menu {
	font-family: $menu-font-family;
	list-style: none;
	
	li {
		margin-bottom: 1px;
		height: $fm-link-height;
	}
	a {
		background-color: $theme-background-green;
		overflow: hidden;
		display: inline-block;
		height: $fm-link-height;
		
		span {
			font-size: 28px;
			text-decoration: none;
			color: #000;
			margin: 7px 0 0 0;
			font-weight: bold;
			padding: 0 0 0 100px;
			display: inline-block;
			@include transition(padding 0.2s ease-in-out,
					margin 0.2s ease-in);
		}
		
		&:hover {
			span {
				padding: 0 20px 0 250px;
				margin: 0 0 0 0;
			}
		}
	}
	
}
.spacer.menu {
	height: 12px
}