/*********************************************************Extendables*/
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fullscreen { 
	@extend .page-minimums;
	@include anchor(0);
	position: fixed;
}
.fullscreen-child { 
	@include anchor(0);
	position: absolute;
}
.page-minimums {
	min-width: $page-min-width;
	min-height: $page-min-height;
}
.container {
	min-width: $page-min-width;
	width: 80%;
	margin: 0px auto;
	&.maxed {
		max-width: $page-max-width;
	}
}
.backgrounded { 
	background-color: rgba(0, 0, 0, 0.8);
	@include transition(background-color 0.1s linear);
	&:hover { background-color: rgba(0, 0, 0, 1); }
	&.spaced { padding: 10px 0; }
}

/****************************************************************Root*/
body, html {
	@extend .page-minimums;
	padding: 0; margin: 0;
	height: 100%;
	color: $theme-text-gray;
	font-family: $font-family;
	font-size: 16px;
}

#background { 
	@extend .fullscreen;
	z-index: -1;
	background-color: #000;
	* { background: transparent; }
}

h1, h2, h3, h4, h5, h6, p, .spacer, a, ul, ol, li {
	margin: 0; padding: 0;
}
p {
	margin-bottom: 2px;
}

a {
	text-decoration: none;
	color: $theme-text-link;
	&:hover {
		color: $theme-text-orange;
	}
}

.pull-right { float: right; }
.pull-left { float: left; }
.clearfix { clear: both; }

/****************************************************************Spaaaaacehr*/
.spacer {
	width: 0;
	
	&.page { height: 50px; }
	&.content { height: 20px; }
}

.hr {
	width: 100%;
	border-bottom: 1px solid transparent;
	&.gray { border-color: #999; }
	&.dark-gray { border-color: #333; }
}

/**************************************************************PAGE*/
.page-title {
	width: 100%;
	h1 {
		font-size: 42px;
		color: $theme-text-orange;
		.accent {
			color: $theme-text-gray;
		}
	}
}

/************************************************Menu**/
$fm-link-height: 32px;
.menu {
	@extend .noselect;
	font-family: $menu-font-family;
	list-style: none;
	float: right;
	text-align: right;
	width: $subnav-width;
	li {
		margin-bottom: 1px;
		height: $fm-link-height;
	}
	a {
		background-color: $theme-background-green;
		overflow: hidden;
		display: inline-block;
		height: $fm-link-height;
		font-size: 28px;
		color: #000;
		font-weight: bold;
		padding: 0 100px 0 10px;
		@include transition(padding 0.2s ease-in-out,
					margin 0.2s ease-in);
		&:hover { padding: 0 250px 0 30px; }
	}
}

/****************************************************************Get wrecked*/
.email { font-weight: bold; }
.email-at:before { content: '\0040'; }
.email-dot:before { content: '\002e'; }
