/******************************************_home.scss*/
.home-window {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	float: left;
}
#home-text-window {
	@extend .home-window;
}
#home-render-window {
	@extend .home-window;
	border: 1px solid #00F;
	height: 100%;
}