/**************************************************************_nojs.scss*/
$media-height-tiny: 800px;
$plug-color: #666;

#nojs {
	@extend .fullscreen-child;
	color: $theme-text-blue;
	background-color: #EEE;
	font-size: 0;
}

/***************************************************************Graphics*/
#nojs_graphic {
	width: 40%;
	text-align: right;
	min-height: 100%;
	font-size: 20px;
	float: left;
	font-size: 0;
	div { display: inline-block; }
	.clearfix { width: 100%; height: 0px; opacity: 0;}
	> div { text-align: center; width: 250px; margin-right: 20%; }
}
#nojs_plug_cord {
	height: 200px;
	width: 50px;
	background-color: $plug-color;
	@media (max-height: $media-height-tiny) { height: 100px; }
}
#nojs_plug_head {
	height: 125px;
	width: 250px;
	border-radius: 125px 125px 0 0;
	background-color: $plug-color;
	margin-top: -10px;
}
.nojs_socket_prong {
	height: 100px;
	width: 50px;
	background-color: $plug-color;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#nojs_socket {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	background-color: $plug-color;
	margin-top: 100px;
	@media (max-height: $media-height-tiny) { margin-top: 30px; }
}
.nojs_socket_pin {
	height: 50px;
	width: 50px;
	background-color: #000;
	border-radius: 25px;
}
.nojs_socket_pin_spacer {
	width: 30px;
}
#nojs_socket_pins {
	margin-top: 100px;
}

/***************************************************************Text*/
#nojs_text_push {
	height: 50%;
	width: 1px;
	float: left;
}
#nojs_text {
	width: 60%;
	font-size: 30px;
	float: left;
	> div {
		margin-top: -217px; width: 500px;
		> h1 { border-bottom: 3px solid $theme-text-blue; }
	}
}
