/****************************************************************project.scss*/
.project {
	border: 1px solid $projects-border;
	border-radius: 10px;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	
	h1.title {
		margin-bottom: 8px;
		color: $theme-text-blue;
	}
	p.about {
		margin-bottom: 8px;
	}
	
	ul {
		margin-left: 30px;
	}
	
	&.large {
		width: $page-min-width * 12/16 - 40; /* 3/4 min width - 40 */
		height: $page-min-width * 12/16 * 1/2 - 40 /* 9/16 min width - 40 */
	}
	&.medium {
		width: $page-min-width * 10/16 - 40; /* 1/2 min width - 40 */
		height: $page-min-width * 10/16 * 1/2 - 40 /* 3/8 min width - 40 */
	}
	&.small {
		width: $page-min-width * 8/16 - 40; /* 1/4 min width - 40 */
		height: $page-min-width * 8/16 * 1/2 - 40 /* 3/16 min width - 40 */
	}
}