@CHARSET "UTF-8";
@mixin fullscreen() { top: 0; right: 0; bottom: 0; left: 0; position: fixed; }
@mixin fullscreen-child { width: 100%; height: 100%; }
$theme-white-text: #DDD;
$theme-red-text: #F00;
$theme-blue-text: #99F;
$theme-green-text: #0F0;

body, html {
	padding: 0; margin: 0;
	color: $theme-white-text;
}
#background { 
	@include fullscreen();
	z-index: -1;
	background-color: #000; 
	
	* { background: transparent; }
}

.console {
	font-size: 12px;
	font-family: monospace;
	color: #999;
	
	.red { color: $theme-red-text; }
	.blue { color: $theme-blue-text; }
	.green { color: $theme-green-text; }
	div {}
}
#global-console {
	@include fullscreen-child();
	padding-left: 2px;
	overflow: auto;
	> div:before { content: '> '; color: #999; }
}
