@CHARSET "UTF-8";

/** Global vars */
$font-family: Optima,Calibri,Candara,Segoe,Segoe UI,Arial,sans-serif;
$menu-font-family: Calibri,Optima,Arial,sans-serif;
$theme-text-white: #DDD;
$theme-text-red: #F00;
$theme-text-blue: #99F;
$theme-text-green: #0F0;
$theme-text-orange: #F70;
$theme-text-link: #CCF;
$theme-text-console-default: #999;
$theme-background-green: #0F0;

$page-min-height: 600px;
$page-min-width: 1000px;

/** Nav vars */
$nav-size-minimized: 50px;
$nav-size-radius: 300px;
$nav-toggle-padding-left: 100px;
$nav-toggle-padding-right: 20px;

$nav-size-toggle: 200px;
$nav-size-item-width: 150px;
$nav-size-item-height: 100px;
$nav-gradient-offset: 200px;

$nav-items-count: 5;
$nav-items-offset: 0;

$nav-items-angle: pi() / ($nav-items-count - 1);
$nav-items-start-angle: pi() / 2;

@import 'compass';
@mixin anchor($top: null, $right:null, $bottom:null, $left:null) {
	@if ($top != -1) { top: $top; }
	@if ($left != null) {
		@if ($right != -1) { right: $right; }
		@if ($bottom != -1) { bottom: $bottom; }
		@if ($left != -1) { left: $left; }
	} @elseif ($bottom != null) {
		@if ($right != -1) { left: $right; right: $right; }
		@if ($bottom != -1) { bottom: $bottom; }
	} @elseif ($right != null) {
		@if ($top != -1) { bottom: $top; }
		@if ($right != -1) { left: $right; right: $right; }
	} @else {
		right: $top; bottom: $top; left: $top;
	}
}
@mixin animation($parameters) {
	-webkit-animation: $parameters;
	-moz-animation: $parameters; 
	animation: $parameters;
}
@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params; 
}
@mixin keyframe($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

/*********************************************************Extendables*/
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; 
	-moz-user-select: none; -ms-user-select: none; user-select: none; }
.fullscreen { @extend .page-minimums; @include anchor(0);
	position: fixed; }
.fullscreen-child { @include anchor(0); position: absolute; }
.page-minimums { min-width: $page-min-width; min-height: $page-min-height; }
.container { min-width: $page-min-width; width: 80%; margin: 0px auto; }
.backgrounded { 
	background-color: rgba(0, 0, 0, 0.8);
	@include transition(background-color 0.1s linear);
	&:hover { background-color: rgba(0, 0, 0, 1); }
	&.spaced { padding: 10px 0; }
}

@import 'root';
@import 'fruitme-style';

@import 'console';
@import 'nojs';
@import 'navigation';
@import 'home';
@import 'about';
