.resume {
	color: $body-text-color;

	.k-at {
		&::before {
			content: 'kod';
		}
		&::after {
			content: 'ee@';
		}
	}
	.kshare {
		&::before {
			content: 'kodle';
		}
		&::after {
			content: 'are';
		}
	}
}
