@charset "UTF-8";

/****************************************************************Changelog*/
.git-list {
	padding: 0; margin: 0;
	dd {
		border-left: 5px solid $colorset-a-highlight;
		padding-left: 15px;
		margin-bottom: 30px;
	}
	dt {
		font-weight: bold;
		padding: 10px;
	}
	blockquote {
		padding: 4px 0 4px 10px;
		margin: 0 40px 0 40px;
		font-style: italic;
	}
}
.git-linecounts {
	float: left;
	.git-linecount {
		display: inline-block;
		padding-right: 7px;
		&:before { padding-right: 4px; }
	}
	.git-additions {
		@extend .git-linecount;
		color: $colorset-a-highlight;
		&:before { content: '+'; }
	}
	.git-subtractions {
		@extend .git-linecount;
		color: $colorset-b-background;
		&:before { content: '-'; }
	}
	.git-delta {
		@extend .git-linecount;
		color: $colorset-c-text;
		&:before { content: 'Δ'; }
	}
}

.git-files {
	clear: both;
	padding: 10px 0;
}
.git-file {
	padding: 4px 10px 4px 10px;
	margin: 6px 0 6px 0;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	overflow: hidden;
	border-bottom: 1px solid #222;
	.sha {
		text-align: center;
		font-size: 10px;
	}
	.git-filename {
		text-align: center;
		margin-bottom: 10px;
	}
}
.git-file-status {
	display: block;
	float: right;
	&.changed { color: $colorset-c-text; &:before { content: "changed"; } }
	&.added { color: $colorset-a-highlight; &:before { content: "added"; } }
	&.deleted { color: $colorset-b-background; &:before { content: "deleted"; } }
}
.git-patch {
	&:before { content: 'Δ '; }
	&:after { content: ' chars'; }
}

/****************************************************************Resume*/


@mixin tagBeforeAfter($before, $after, $color) {
	&:before { content: $before; color: $color; }
	&:after { content: $after; color: $color; }
}
.resume {
	//font-family: $font-family-contrast;
	font-size: 16px;
	*:before { font-weight: normal; font-style: normal; }
	*:after { font-weight: normal; font-style: normal; }
}
.email-dm {
	&::before {
		content: "\006b\006f\0064\006c\0065\0065";
	}
}

/***HTML Tag*/
.resume-section {
	font-size: 24px;
	&.start {
		@include tagBeforeAfter('<', '>', $colorset-a-text-accent);
		color: $colorset-a-text-link;
		clear: both;
	}
	&.end {
		@include tagBeforeAfter('</', '>', $colorset-a-text-accent);
		color: $colorset-a-text-accent;
		float: right;
	}
}

.resume-triple-list {
	margin: 20px 0;
	.title {
		float: left;
		width: 400px;
		font-weight: bold;
	}
	.location {
		float: left;
	}
	.date {
		float: right;
	}
	.subtitle {
		clear: both;
		font-style: italic;
		color: $colorset-a-text-accent;
	}
}

.resume-list, .resume-triple-list ul {
	border-left: 2px solid $colorset-a-highlight;
	padding: 3px 0 3px 20px;
	margin: 15px 0 25px 34px;
	clear: both;
	li {
		margin-left: 15px;
	}
}

.privacy-policy, .legal-policy {
	width: 1000px;
	margin: 50px auto;

	h1 {
		text-align: center;
	}

	h2 {
		margin-top: 35px;
	}

	h3 {
		margin-top: 50px;
	}

	div {
		margin: 10px 0 0 15px;
		padding-left: 15px;
		border-left: 1px solid $colorset-a-highlight;
		text-indent: 25px;
	}
}

.projects-spacer {
	height: 50px;
}
