.spacer.login {
	height: 200px;
	@media (max-height: $page-min-height + $nav-size-item-height) {
		height: 50px;
	}
}

.login-form {
	width: 600px;
	background-color: #111;
	height: 300px;
	margin: 0px auto;
	box-shadow: 10px 10px 10px 0 #191919;
}