/******************************************************_navigation.scss*/
$nav-size-minimized: 50px;
$nav-size-radius: 300px;
$nav-toggle-padding-left: 100px;
$nav-toggle-padding-right: 20px;

$nav-size-toggle: 200px;
$nav-size-item-width: 150px;
$nav-size-item-height: 100px;
$nav-gradient-offset: 200px;

$nav-items-count: 5;
$nav-items-offset: 0;

$nav-items-angle: pi() / ($nav-items-count - 1);
$nav-items-start-angle: pi() / 2;

#global-nav {
	border-bottom: 1px solid #333;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.8);
}
#global-nav-toggle {
	display: none;
}
.global-nav-item {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	height: $nav-size-item-height;
	width: $nav-size-item-width;
	line-height: $nav-size-item-height;
	font-size: 24px;
	&:hover { color: #999; }
}


@media (min-width: $page-min-width) and (min-height: $page-min-height + $nav-size-item-height) {
	#global-nav-toggle {
		display: block; 
		position: absolute;
		top: 50%;
		right: - ($nav-size-toggle - $nav-size-minimized);
		margin-top: - $nav-size-toggle / 2;
		width: $nav-size-toggle;
		height: $nav-size-toggle;
		border-radius: $nav-size-toggle / 2;
		cursor: pointer;
		overflow: visible;
		background-color: $colorset-b-background;
		@include transition(right 0.2s ease-in-out);
	}
	.global-nav-item {
		position: absolute;
		padding: 0;
		font-size: 32px;
		top: 50%;
		right: -$nav-size-item-width;
		@include transition(right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29));
	}
	
	@for $i from 1 through $nav-items-count {
		$nthChild: $i + $nav-items-offset;
		.global-nav-item:nth-of-type(#{$nthChild}) {
			margin-top: $nav-size-radius 
					- ($nav-size-radius * sin($nav-items-start-angle 
					- ($i - 1) * $nav-items-angle))
					- ($nav-size-radius)
					- ($nav-size-item-height / 2);
		}
	}
	
	#global-nav {
		@include anchor(0, 0, 0, -1);
		width: 0;
		position: fixed;
		height: auto;
		z-index: 999999;
		border: none;
		background: transparent;
		@include filter-gradient(rgba(0, 0, 0, 0.3), rgba(119,111,131,1), horizontal);
		@include background-image(radial-gradient(circle at 100% 50%, rgba(119,111,131,1) 0%, rgba(0, 0, 0, 0) 60%));
		@include transition(width 0.2s ease-in-out 0.1s);
		
		&:hover, &.hover {
			width: $nav-toggle-padding-left 
				+ $nav-toggle-padding-right
				+ $nav-size-radius
				+ $nav-size-item-width;
			#global-nav-toggle {
				right: - $nav-size-toggle / 2 + $nav-toggle-padding-right;
				background-color: $colorset-b-text;
			}
			@for $i from 1 through $nav-items-count {
				$nthChild: $i + $nav-items-offset;
				.global-nav-item:nth-of-type(#{$nthChild}) {
					right: $nav-size-radius * cos($nav-items-start-angle 
							- ($i - 1) * $nav-items-angle)
							+ $nav-toggle-padding-right;
				}
			}
		}
	}
}

#global-content {
	/* Remember to change global.js's timeouit in animateOutContent */
	@include transition(opacity 0.5s ease-in-out);
	opacity: 1;
	
	&.fade-out {
		opacity: 0;
	}
}


/************************************************Menu**/
$menu-minwidth-collapse: 1500px;
$menu-width: 500px;
$menu-title-width: 700px;

$menu-link-width: 50px;
$menu-link-font-size: 28px;

$menu-expanded-padding: 20px;
$menu-expanded-height: 30px;

.menu {
	@extend .noselect;
	font-family: $menu-font-family;
	float: right;
	text-align: right;
	width: $menu-width;
	
	a, div.menu-text-expanded {
		font-size: $menu-link-font-size;
		background-color: $colorset-b-background;
		color: $colorset-b-text;
		display: inline-block;
		font-size: $menu-link-font-size;
		font-weight: bold;
		overflow: hidden;
	}
	
	a:hover {
		color: $colorset-a-text;
	}
	
	div.menu-text-expanded {
		height: $menu-expanded-height;
		line-height: $menu-expanded-height;
		padding: 0;
		margin: 5px 0;
		width: 0%;
		white-space: nowrap;
		color: $colorset-a-text;
		@include transition(width 0.1s ease-in-out,
				padding 0.1s ease-in-out);
	}
	
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
		vertical-align: top;
		height: $menu-link-width;
		a {
			height: $menu-link-width;
			line-height: $menu-link-width;
			text-align: center;
			width: $menu-link-width;
		}
	}
	
	&:hover div.menu-text-expanded {
		width: $menu-width - ($menu-expanded-padding * 2);
		padding: 0 $menu-expanded-padding;
	}
}
