/****************************************************************project.scss*/
.projects {
	margin-bottom: 20px;
	
	.project-list {
		width: 50%;
		float: left;
		height: 100vh;
		padding: 20px 0;
		box-sizing: border-box;
		overflow: auto;
	}
	.page {
		margin-bottom: 15px;
	}
	ul {
		margin-bottom: 30px;
		list-style: none;
		width: 100%;
		overflow: auto;
	}
	li {
		@extend .noselect;
		font-size: 24px;
		font-weight: bold;
		width: 100%;
		color: $colorset-c-text;
		background-color: $colorset-c-background;
		@include transition(color 0.1s ease-in-out,
				background-color 0.1s ease-in-out);
		padding: 5px 20px;
		cursor: pointer;
		box-sizing: border-box;
		
		&:hover {
			color: $colorset-c-text-rollover;
			background-color: $colorset-c-background-rollover;
		}
	}
	
	.more {
		box-sizing: border-box;
		border-left: 1px solid $colorset-c-background-rollover;
		width: 50%;
		float: left;
		padding: 20px;
		height: 100vh;
		overflow: auto;
		
		div {
			display: none;
		}
		p {
			color: $colorset-a-text-accent;
		}
		a {
			display: block;
			padding: 5px 0;
			background-color: $colorset-b-text;
			color: $colorset-b-background;
			text-align: center;
			font-weight: bold;
			font-size: 26px;
			margin-top: 20px;
			&:hover {
				color: $colorset-a-text;
			}
		}
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 10px 15px;
		color: $colorset-a-text-accent;
	}
}