/****************************************************************Tools*/
.tools-list {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 100%;
	tr {
		border-bottom: 1px solid #030;
	}
	
	thead tr {
		th:nth-child(2) {
		}
		th:nth-child(1) {
			width: 250px;
		}
		th:nth-child(3) {
			width: 200px;
		}
	}
	
	tbody tr {
		cursor: pointer;
		td {
			padding: 20px;
		}
		&:nth-child(even) {
			background-color: #020;
		}
		&:hover {
			background-color: #222;
		}
	}
}

/***thetime*/
.thetime-banner {
	font-size: 72px;
	text-align: center;
	font-weight: bold;
}
.thetime-sub {
	text-align: center;
}