@charset "UTF-8";

/** Global vars */
$font-family: Anrimo,Calibri,Candara,Segoe,Segoe UI,Arial,sans-serif;
$font-family-contrast: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
$menu-font-family: Arnimo,Calibri,Optima,Arial,sans-serif;

$colorset-default-background: #120203;

$colorset-a-background: rgb(2, 2, 3);
$colorset-a-background-opaque: rgba(2, 2, 3, 0.8);
$colorset-a-text: rgba(255, 255, 255, 0.5);
$colorset-a-text-accent: rgba(255, 255, 255, 0.3);
$colorset-a-text-link: rgba(255, 255, 255, 0.7);
$colorset-a-highlight: #4A9507;

$colorset-b-background: #776F83;
$colorset-b-text: #1F1233;

$colorset-c-background: #120203;
$colorset-c-background-rollover: #9DAC8F;
$colorset-c-text: #9DAC8F;
$colorset-c-text-rollover: #120203;


$page-min-height: 600px;
$page-min-width: 1000px;
$page-max-width: 1200px;


@import 'compass';
@mixin anchor($top: null, $right:null, $bottom:null, $left:null) {
	@if ($top != -1) { top: $top; }
	@if ($left != null) {
		@if ($right != -1) { right: $right; }
		@if ($bottom != -1) { bottom: $bottom; }
		@if ($left != -1) { left: $left; }
	} @elseif ($bottom != null) {
		@if ($right != -1) { left: $right; right: $right; }
		@if ($bottom != -1) { bottom: $bottom; }
	} @elseif ($right != null) {
		@if ($top != -1) { bottom: $top; }
		@if ($right != -1) { left: $right; right: $right; }
	} @else {
		right: $top; bottom: $top; left: $top;
	}
}
@mixin animation($parameters) {
	-webkit-animation: $parameters;
	-moz-animation: $parameters;
	animation: $parameters;
}
@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params;
}
@mixin keyframe($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@import 'template';

@import 'console';
@import 'nojs';

@import 'home';
@import 'about';
@import 'tools';
@import 'projects';
@import 'login';
