// Styles for the header

$header-height: 54px;
$header-background-color: $orange-500;
$header-link-horizontal-spacing: 22px;

$mobile-header-link-horizontal-spacing: 10px;
$mobile-header-height: 46px;

.global-header {
  @extend %layer-1;
  @extend .title;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 $content-spacing;
  background-color: $header-background-color;
  z-index: 1000;
  height: $header-height;

  @media (max-width: $media-break-small) {
    padding: 0 $mobile-content-spacing;
    height: $mobile-header-height;
    font-size: 15px;
  }

  li {
    list-style: none;
    display: inline-block;
  }

  .logo {
    padding-right: $header-link-horizontal-spacing;
    color: $background-color;
    font-weight: bold;

    @media (max-width: $media-break-small) {
      padding-right: $mobile-header-link-horizontal-spacing;
    }
  }

  a {
    display: inline-block;
    padding: 0 $header-link-horizontal-spacing;
    line-height: $header-height;

    @media (max-width: $media-break-small) {
      padding: 0 $mobile-header-link-horizontal-spacing;
      line-height: $mobile-header-height;
    }

    &, &:link, &:visited {
      color: $background-color;
    }
    &:hover, &:active {
      color: $grey-300;
    }
  }
}

.header-push {
  height: $header-height;

  @media (max-width: $media-break-small) {
    height: $mobile-header-height;
  }
}
