// Layout styles

// Aligners
.middle-aligner,
%middle-aligned {
  display: inline-block;
  vertical-align: middle;
}

.middle-aligner {
  height: 100%;
}

// Containers
.page-push {
  padding-top: $content-spacing;

  @media (max-width: $media-break-small) {
    padding-top: $mobile-content-spacing + 18px;
  }
}

.container {

  &.padded {
    padding: 0 $content-spacing;

    @media (max-width: $media-break-small) {
      padding: 0 $mobile-content-spacing;
    }
  }
}

.controller {
  display: none;
}

// Titles
.title {
  font-family: "Open Sans", sans-serif;
}
