// Styles for root tags. These are always applied first hierarchically.

* {
  box-sizing: border-box;
}

// Apply padding and margin to things that I want only.
h1, h2, h3, h4, h5, h6,
body, html,
table, tr, th, td, tfoot, thead, tbody,
p,
ul, ol, li, dd, dl,
pre {
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $background-color;
  color: $color;
}

a {
  text-decoration: none;
  display: inline-block;
}
