// Variables used throughout the site.

// Colors
$grey-50: #fafafa;
$grey-300: #e0e0e0;
$grey-500: #9e9e9e;
$grey-900: #212121;

$orange-500: #ff9800;
$orange-50: #fff3e0;
$orange-900: #e65100;

$background-color: $grey-50;
$color: $grey-900;

$link-color: #000;
$link-color-active: #ccc;

// Animation
$time-responsive: 175ms;
$default-ease: cubic-bezier(0.4, 0.0, 0.2, 1);

// Spacing/content
$content-spacing: 64px;

// Layers
%layer-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

%layer-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

%layer-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

%layer-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

%layer-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
