// Variables used throughout the site.

// Colors
$blue-100: #BBDEFB;
$blue: #2196F3;
$blue-700: #1976D2;
$blue-900: #0D47A1;
$light-green: #8BC34A;

$divider-color: $light-green;
$background-color: #191919;
$color: #a3a3a3;

$link-color: $blue;
$link-color-active: $blue-700;

// Spacing/content
$content-spacing: 48px;
