@charset "UTF-8";
/** Global vars */
/*********************************************************Extendables*/
.noselect, .menu, #global-console, .projects li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fullscreen, #background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed; }

.fullscreen-child, #global-console, #nojs {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute; }

.page-minimums, .fullscreen, #background, body, html {
  min-width: 1000px;
  min-height: 600px; }

.container {
  min-width: 1000px;
  width: 80%;
  margin: 0px auto; }
  .container.maxed {
    max-width: 1200px; }

.backgrounded {
  background-color: rgba(2, 2, 3, 0.8);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear; }
  .backgrounded:hover {
    background-color: #020203; }
  .backgrounded.spaced {
    padding: 10px 0; }

/****************************************************************Root*/
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: Optima, Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif;
  font-size: 16px; }

#background {
  z-index: -1;
  background-color: #120203; }
  #background * {
    background: transparent; }

h1, h2, h3, h4, h5, h6, p, .spacer, a, ul, ol, li {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 2px; }

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); }
  a:hover {
    color: rgba(255, 255, 255, 0.3); }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clearfix {
  clear: both; }

/****************************************************************Spaaaaacehr*/
.spacer {
  width: 0; }
  .spacer.page, .spacer.page-title {
    height: 50px; }
  .spacer.content {
    height: 20px; }

.hr {
  clear: both;
  width: 100%;
  border-bottom: 1px solid transparent; }
  .hr.common-title {
    border-color: #333; }

/**************************************************************PAGE*/
.page .accent, .page-title .accent, .page p, .page-title p {
  color: rgba(255, 255, 255, 0.3); }

.page-title h1 {
  font-size: 42px; }

/****************************************************************Get wrecked*/
.email {
  font-weight: bold; }

.email-at:before {
  content: '\0040'; }

.email-dot:before {
  content: '\002e'; }

/******************************************************_navigation.scss*/
#global-nav {
  border-bottom: 1px solid #333;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8); }

#global-nav-toggle {
  display: none; }

.global-nav-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  height: 100px;
  width: 150px;
  line-height: 100px;
  font-size: 24px; }
  .global-nav-item:hover {
    color: #999; }

@media (min-width: 1000px) and (min-height: 700px) {
  #global-nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: -150px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
    overflow: visible;
    background-color: #776F83;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out; }

  .global-nav-item {
    position: absolute;
    padding: 0;
    font-size: 32px;
    top: 50%;
    right: -150px;
    -webkit-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    -moz-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29); }

  .global-nav-item:nth-of-type(1) {
    margin-top: -350px; }

  .global-nav-item:nth-of-type(2) {
    margin-top: -262.13203px; }

  .global-nav-item:nth-of-type(3) {
    margin-top: -50px; }

  .global-nav-item:nth-of-type(4) {
    margin-top: 162.13203px; }

  .global-nav-item:nth-of-type(5) {
    margin-top: 250px; }

  #global-nav {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    position: fixed;
    height: auto;
    z-index: 999999;
    border: none;
    background: transparent;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#4D000000', endColorstr='#FF776F83');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMCUiIGN5PSI1MCUiIHI9IjYwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3NmY4MyIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(100% 50%, circle, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    background-image: -webkit-radial-gradient(100% 50%, circle, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    background-image: radial-gradient(circle at 100% 50%, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    -webkit-transition: width 0.2s ease-in-out 0.1s;
    -moz-transition: width 0.2s ease-in-out 0.1s;
    transition: width 0.2s ease-in-out 0.1s; }
    #global-nav:hover, #global-nav.hover {
      width: 570px; }
      #global-nav:hover #global-nav-toggle, #global-nav.hover #global-nav-toggle {
        right: -80px;
        background-color: #1F1233; }
      #global-nav:hover .global-nav-item:nth-of-type(1), #global-nav.hover .global-nav-item:nth-of-type(1) {
        right: 20.0px; }
      #global-nav:hover .global-nav-item:nth-of-type(2), #global-nav.hover .global-nav-item:nth-of-type(2) {
        right: 232.13203px; }
      #global-nav:hover .global-nav-item:nth-of-type(3), #global-nav.hover .global-nav-item:nth-of-type(3) {
        right: 320px; }
      #global-nav:hover .global-nav-item:nth-of-type(4), #global-nav.hover .global-nav-item:nth-of-type(4) {
        right: 232.13203px; }
      #global-nav:hover .global-nav-item:nth-of-type(5), #global-nav.hover .global-nav-item:nth-of-type(5) {
        right: 20.0px; } }
#global-content {
  /* Remember to change global.js's timeouit in animateOutContent */
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }
  #global-content.fade-out {
    opacity: 0; }

/************************************************Menu**/
.menu {
  font-family: Calibri, Optima, Arial, sans-serif;
  float: right;
  text-align: right;
  width: 500px; }
  .menu a, .menu div.menu-text-expanded {
    font-size: 28px;
    background-color: #776F83;
    color: #1F1233;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    overflow: hidden; }
  .menu a:hover {
    color: rgba(255, 255, 255, 0.5); }
  .menu div.menu-text-expanded {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 5px 0;
    width: 0%;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
    transition: width 0.1s ease-in-out, padding 0.1s ease-in-out; }
  .menu ul {
    list-style: none; }
  .menu li {
    display: inline-block;
    vertical-align: top;
    height: 50px; }
    .menu li a {
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px; }
  .menu:hover div.menu-text-expanded {
    width: 460px;
    padding: 0 20px; }

/*********************************************************_console.scss*/
.console {
  font-size: 12px;
  font-family: monospace;
  color: #999; }
  .console .red {
    color: #F00; }
  .console .blue {
    color: #00F; }
  .console .green {
    color: #0F0; }

#global-console {
  cursor: default;
  padding-left: 2px;
  overflow: visible;
  -webkit-transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out; }
  #global-console div {
    -webkit-animation: console-entry-fadein 0.5s ease-in;
    -moz-animation: console-entry-fadein 0.5s ease-in;
    animation: console-entry-fadein 0.5s ease-in; }
  #global-console > div:before {
    content: '> ';
    color: #999; }
  #global-console.anchor-windowed, #global-console.anchor-lower-left, #global-console.anchor-lower-right, #global-console.anchor-upper-left, #global-console.anchor-upper-right {
    border: 1px solid #0F0; }
  #global-console.anchor-lower-left {
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0; }
  #global-console.anchor-lower-right {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%; }
  #global-console.anchor-upper-left {
    top: 0;
    right: 50%;
    bottom: 50%;
    left: 0; }
  #global-console.anchor-upper-right {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%; }

/********************************************************Animations*/
@-webkit-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
@-moz-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
@keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333; }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent; } }
/**************************************************************_nojs.scss*/
#nojs {
  background-color: #120203;
  font-size: 0;
  z-index: 9999999999; }

/***************************************************************Graphics*/
#nojs_graphic {
  width: 40%;
  text-align: right;
  min-height: 100%;
  font-size: 20px;
  float: left;
  font-size: 0; }
  #nojs_graphic div {
    display: inline-block; }
  #nojs_graphic .clearfix {
    width: 100%;
    height: 0px;
    opacity: 0; }
  #nojs_graphic > div {
    text-align: center;
    width: 250px;
    margin-right: 20%; }

#nojs_plug_cord {
  height: 200px;
  width: 50px;
  background-color: #020203; }
  @media (max-height: 800px) {
    #nojs_plug_cord {
      height: 100px; } }

#nojs_plug_head {
  height: 125px;
  width: 250px;
  border-radius: 125px 125px 0 0;
  background-color: #020203;
  margin-top: -10px; }

.nojs_socket_prong {
  height: 100px;
  width: 50px;
  background-color: #020203;
  border-radius: 0 0 10px 10px; }

#nojs_socket {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #020203;
  margin-top: 100px; }
  @media (max-height: 800px) {
    #nojs_socket {
      margin-top: 30px; } }

.nojs_socket_pin {
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 25px; }

.nojs_socket_pin_spacer {
  width: 30px; }

#nojs_socket_pins {
  margin-top: 100px; }

/***************************************************************Text*/
#nojs_text_push {
  height: 50%;
  width: 1px;
  float: left; }

#nojs_text {
  width: 60%;
  font-size: 30px;
  float: left; }
  #nojs_text > div {
    margin-top: -217px;
    width: 500px; }
    #nojs_text > div > h1 {
      border-bottom: 3px solid #4A9507; }

/******************************************_home.scss*/
#home-render-window {
  width: 100%;
  height: 1200px; }

.spacer.home-intro-text {
  height: 10px; }

/****************************************************************Changelog*/
.git-list {
  padding: 0;
  margin: 0; }
  .git-list dd {
    border-left: 5px solid #4A9507;
    padding-left: 15px;
    margin-bottom: 30px; }
  .git-list dt {
    font-weight: bold;
    padding-left: 20px;
    padding: 10px; }
  .git-list blockquote {
    padding: 4px 0 4px 10px;
    margin: 0 40px 0 40px;
    font-style: italic; }

.git-linecounts {
  float: left; }
  .git-linecounts .git-linecount, .git-linecounts .git-additions, .git-linecounts .git-subtractions, .git-linecounts .git-delta {
    display: inline-block;
    padding-right: 7px; }
    .git-linecounts .git-linecount:before, .git-linecounts .git-additions:before, .git-linecounts .git-subtractions:before, .git-linecounts .git-delta:before {
      padding-right: 4px; }
  .git-linecounts .git-additions {
    color: #4A9507; }
    .git-linecounts .git-additions:before {
      content: '+'; }
  .git-linecounts .git-subtractions {
    color: #776F83; }
    .git-linecounts .git-subtractions:before {
      content: '-'; }
  .git-linecounts .git-delta {
    color: #9DAC8F; }
    .git-linecounts .git-delta:before {
      content: 'Δ'; }

.git-files {
  clear: both;
  padding: 10px 0; }

.git-file {
  padding: 4px 10px 4px 10px;
  margin: 6px 0 6px 0;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  border-bottom: 1px solid #222; }
  .git-file .sha {
    text-align: center;
    font-size: 10px; }
  .git-file .git-filename {
    text-align: center;
    margin-bottom: 10px; }

.git-file-status {
  display: block;
  float: right; }
  .git-file-status.changed {
    color: #9DAC8F; }
    .git-file-status.changed:before {
      content: "changed"; }
  .git-file-status.added {
    color: #4A9507; }
    .git-file-status.added:before {
      content: "added"; }
  .git-file-status.deleted {
    color: #776F83; }
    .git-file-status.deleted:before {
      content: "deleted"; }

.git-patch:before {
  content: 'Δ '; }
.git-patch:after {
  content: ' chars'; }

/****************************************************************Resume*/
.resume {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  font-size: 16px; }
  .resume *:before {
    font-weight: normal;
    font-style: normal; }
  .resume *:after {
    font-weight: normal;
    font-style: normal; }

/***HTML Tag*/
.resume-section {
  font-size: 24px; }
  .resume-section.start {
    color: rgba(255, 255, 255, 0.5);
    clear: both; }
    .resume-section.start:before {
      content: "<";
      color: rgba(255, 255, 255, 0.3); }
    .resume-section.start:after {
      content: ">";
      color: rgba(255, 255, 255, 0.3); }
  .resume-section.end {
    color: rgba(255, 255, 255, 0.3);
    float: right; }
    .resume-section.end:before {
      content: "</";
      color: rgba(255, 255, 255, 0.3); }
    .resume-section.end:after {
      content: ">";
      color: rgba(255, 255, 255, 0.3); }

.resume-triple-list {
  margin: 20px 0; }
  .resume-triple-list .title {
    float: left;
    width: 400px;
    font-weight: bold; }
  .resume-triple-list .location {
    float: left; }
  .resume-triple-list .date {
    float: right; }
  .resume-triple-list .subtitle {
    clear: both;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3); }

.resume-list, .resume-triple-list ul {
  border-left: 2px solid #4A9507;
  padding: 3px 0 3px 20px;
  margin: 15px 0 25px 34px;
  clear: both; }
  .resume-list li, .resume-triple-list ul li {
    margin-left: 15px; }

.privacy-policy, .legal-policy {
  width: 1000px;
  margin: 50px auto; }
  .privacy-policy h1, .legal-policy h1 {
    text-align: center; }
  .privacy-policy h2, .legal-policy h2 {
    margin-top: 35px; }
  .privacy-policy h3, .legal-policy h3 {
    margin-top: 50px; }
  .privacy-policy div, .legal-policy div {
    margin: 10px 0 0 15px;
    padding-left: 15px;
    border-left: 1px solid #4A9507;
    text-indent: 25px; }

/****************************************************************Tools*/
.tools-list {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%; }
  .tools-list tr {
    border-bottom: 1px solid #030; }
  .tools-list thead tr th:nth-child(1) {
    width: 250px; }
  .tools-list thead tr th:nth-child(3) {
    width: 200px; }
  .tools-list tbody tr {
    cursor: pointer; }
    .tools-list tbody tr td {
      padding: 20px; }
    .tools-list tbody tr:nth-child(even) {
      background-color: #020; }
    .tools-list tbody tr:hover {
      background-color: #222; }

.tools-list-title {
  font-size: 24px;
  color: #120203;
  font-weight: bold;
  margin-top: 32px; }

/***thetime*/
.thetime-banner {
  font-size: 72px;
  text-align: center;
  font-weight: bold; }

.thetime-sub {
  text-align: center; }

.wordhero .board {
  margin-right: 20px;
  display: inline-block;
  width: 456px;
  vertical-align: top; }
  .wordhero .board input {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0;
    border: 1px solid #00F;
    border-radius: 5px;
    text-align: center;
    background-color: #000;
    color: #CCC;
    line-height: 100px;
    font-size: 38px;
    background-color: #003;
    cursor: pointer; }
    .wordhero .board input:nth-child(4n) {
      margin-right: 0; }
.wordhero .wordlist {
  display: inline-block;
  vertical-align: top;
  height: 456px;
  overflow: auto;
  width: 320px;
  padding-right: 10px;
  margin-right: 20px; }
  .wordhero .wordlist table, .wordhero .wordlist tr, .wordhero .wordlist td {
    padding: 0;
    margin: 0; }
  .wordhero .wordlist table {
    width: 100%;
    border-collapse: collapse; }
    .wordhero .wordlist table tr {
      width: 100%; }
      .wordhero .wordlist table tr td:nth-child(2) {
        width: 19px;
        text-align: right; }
.wordhero .stats {
  display: inline-block; }

#wh-messages {
  margin-top: 20px; }
  #wh-messages div {
    cursor: pointer;
    padding: 3px 0; }

/****************************************************************project.scss*/
.projects {
  margin-bottom: 20px; }
  .projects .project-list {
    width: 50%;
    float: left;
    height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: auto; }
  .projects .page, .projects .page-title {
    margin-bottom: 15px; }
  .projects ul {
    margin-bottom: 30px;
    list-style: none;
    width: 100%;
    overflow: auto; }
  .projects li {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    color: #9DAC8F;
    background-color: #120203;
    -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    padding: 5px 20px;
    cursor: pointer;
    box-sizing: border-box; }
    .projects li:hover {
      color: #120203;
      background-color: #9DAC8F; }
  .projects .more {
    box-sizing: border-box;
    border-left: 1px solid #9DAC8F;
    width: 50%;
    float: left;
    padding: 20px;
    height: 100vh;
    overflow: auto; }
    .projects .more div {
      display: none; }
    .projects .more p {
      color: rgba(255, 255, 255, 0.3); }
    .projects .more a {
      display: block;
      padding: 5px 0;
      background-color: #1F1233;
      color: #776F83;
      text-align: center;
      font-weight: bold;
      font-size: 26px;
      margin-top: 20px; }
      .projects .more a:hover {
        color: rgba(255, 255, 255, 0.5); }
  .projects dt {
    font-weight: bold; }
  .projects dd {
    margin: 0 0 10px 15px;
    color: rgba(255, 255, 255, 0.3); }

.spacer.login {
  height: 200px; }
  @media (max-height: 700px) {
    .spacer.login {
      height: 50px; } }

.login-form {
  width: 600px;
  background-color: #111;
  height: 300px;
  margin: 0px auto;
  box-shadow: 10px 10px 10px 0 #191919; }

/*# sourceMappingURL=global.css.map */
