@charset "UTF-8";
/** Global vars */
/*********************************************************Extendables*/
/* line 2, source/_template.scss */
.noselect, .menu, #global-console, .projects li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 9, source/_template.scss */
.fullscreen, #background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

/* line 14, source/_template.scss */
.fullscreen-child, #global-console, #nojs {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 18, source/_template.scss */
.page-minimums, .fullscreen, #background, body, html {
  min-width: 1000px;
  min-height: 600px;
}

/* line 22, source/_template.scss */
.container {
  min-width: 1000px;
  width: 80%;
  margin: 0px auto;
}
/* line 26, source/_template.scss */
.container.maxed {
  max-width: 1200px;
}

/* line 30, source/_template.scss */
.backgrounded {
  background-color: rgba(2, 2, 3, 0.8);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
/* line 33, source/_template.scss */
.backgrounded:hover {
  background-color: #020203;
}
/* line 34, source/_template.scss */
.backgrounded.spaced {
  padding: 10px 0;
}

/****************************************************************Root*/
/* line 38, source/_template.scss */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: Anrimo, Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif;
  font-size: 16px;
}

/* line 47, source/_template.scss */
#background {
  z-index: -1;
  background-color: #120203;
}
/* line 51, source/_template.scss */
#background * {
  background: transparent;
}

/* line 54, source/_template.scss */
h1, h2, h3, h4, h5, h6, p, .spacer, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* line 57, source/_template.scss */
p {
  margin-bottom: 2px;
}

/* line 61, source/_template.scss */
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
/* line 64, source/_template.scss */
a:hover {
  color: rgba(255, 255, 255, 0.3);
}

/* line 69, source/_template.scss */
.pull-right {
  float: right;
}

/* line 70, source/_template.scss */
.pull-left {
  float: left;
}

/* line 71, source/_template.scss */
.clearfix {
  clear: both;
}

/****************************************************************Spaaaaacehr*/
/* line 74, source/_template.scss */
.spacer {
  width: 0;
}
/* line 77, source/_template.scss */
.spacer.page, .spacer.page-title {
  height: 50px;
}
/* line 78, source/_template.scss */
.spacer.content {
  height: 20px;
}

/* line 81, source/_template.scss */
.hr {
  clear: both;
  width: 100%;
  border-bottom: 1px solid transparent;
}
/* line 85, source/_template.scss */
.hr.common-title {
  border-color: #333;
}

/**************************************************************PAGE*/
/* line 90, source/_template.scss */
.page .accent, .page-title .accent, .page p, .page-title p {
  color: rgba(255, 255, 255, 0.3);
}

/* line 94, source/_template.scss */
.page-title h1 {
  font-size: 42px;
}

/****************************************************************Get wrecked*/
/* line 100, source/_template.scss */
.email {
  font-weight: bold;
}

/* line 101, source/_template.scss */
.email-at:before {
  content: '\0040';
}

/* line 102, source/_template.scss */
.email-dot:before {
  content: '\002e';
}

/******************************************************_navigation.scss*/
/* line 18, source/_navigation.scss */
#global-nav {
  border-bottom: 1px solid #333;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 23, source/_navigation.scss */
#global-nav-toggle {
  display: none;
}

/* line 26, source/_navigation.scss */
.global-nav-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  height: 100px;
  width: 150px;
  line-height: 100px;
  font-size: 24px;
}
/* line 35, source/_navigation.scss */
.global-nav-item:hover {
  color: #999;
}

@media (min-width: 1000px) and (min-height: 700px) {
  /* line 40, source/_navigation.scss */
  #global-nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: -150px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
    overflow: visible;
    background-color: #776F83;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
  }

  /* line 54, source/_navigation.scss */
  .global-nav-item {
    position: absolute;
    padding: 0;
    font-size: 32px;
    top: 50%;
    right: -150px;
    -webkit-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    -moz-transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
    transition: right 0.3s cubic-bezier(0.8, -0.18, 0.32, 1.29);
  }

  /* line 65, source/_navigation.scss */
  .global-nav-item:nth-of-type(1) {
    margin-top: -350px;
  }

  /* line 65, source/_navigation.scss */
  .global-nav-item:nth-of-type(2) {
    margin-top: -262.13203px;
  }

  /* line 65, source/_navigation.scss */
  .global-nav-item:nth-of-type(3) {
    margin-top: -50px;
  }

  /* line 65, source/_navigation.scss */
  .global-nav-item:nth-of-type(4) {
    margin-top: 162.13203px;
  }

  /* line 65, source/_navigation.scss */
  .global-nav-item:nth-of-type(5) {
    margin-top: 250px;
  }

  /* line 74, source/_navigation.scss */
  #global-nav {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    position: fixed;
    height: auto;
    z-index: 999999;
    border: none;
    background: transparent;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#4D000000', endColorstr='#FF776F83');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMCUiIGN5PSI1MCUiIHI9IjYwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3NmY4MyIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(100% 50%, circle, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    background-image: -webkit-radial-gradient(100% 50%, circle, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    background-image: radial-gradient(circle at 100% 50%, #776f83 0%, rgba(0, 0, 0, 0) 60%);
    -webkit-transition: width 0.2s ease-in-out 0.1s;
    -moz-transition: width 0.2s ease-in-out 0.1s;
    transition: width 0.2s ease-in-out 0.1s;
  }
  /* line 86, source/_navigation.scss */
  #global-nav:hover, #global-nav.hover {
    width: 570px;
  }
  /* line 91, source/_navigation.scss */
  #global-nav:hover #global-nav-toggle, #global-nav.hover #global-nav-toggle {
    right: -80px;
    background-color: #1F1233;
  }
  /* line 97, source/_navigation.scss */
  #global-nav:hover .global-nav-item:nth-of-type(1), #global-nav.hover .global-nav-item:nth-of-type(1) {
    right: 20.0px;
  }
  /* line 97, source/_navigation.scss */
  #global-nav:hover .global-nav-item:nth-of-type(2), #global-nav.hover .global-nav-item:nth-of-type(2) {
    right: 232.13203px;
  }
  /* line 97, source/_navigation.scss */
  #global-nav:hover .global-nav-item:nth-of-type(3), #global-nav.hover .global-nav-item:nth-of-type(3) {
    right: 320px;
  }
  /* line 97, source/_navigation.scss */
  #global-nav:hover .global-nav-item:nth-of-type(4), #global-nav.hover .global-nav-item:nth-of-type(4) {
    right: 232.13203px;
  }
  /* line 97, source/_navigation.scss */
  #global-nav:hover .global-nav-item:nth-of-type(5), #global-nav.hover .global-nav-item:nth-of-type(5) {
    right: 20.0px;
  }
}
/* line 107, source/_navigation.scss */
#global-content {
  /* Remember to change global.js's timeouit in animateOutContent */
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
/* line 112, source/_navigation.scss */
#global-content.fade-out {
  opacity: 0;
}

/************************************************Menu**/
/* line 129, source/_navigation.scss */
.menu {
  font-family: Arnimo, Calibri, Optima, Arial, sans-serif;
  float: right;
  text-align: right;
  width: 500px;
}
/* line 136, source/_navigation.scss */
.menu a, .menu div.menu-text-expanded {
  font-size: 28px;
  background-color: #776F83;
  color: #1F1233;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  overflow: hidden;
}
/* line 146, source/_navigation.scss */
.menu a:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 150, source/_navigation.scss */
.menu div.menu-text-expanded {
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 5px 0;
  width: 0%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
  transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
}
/* line 162, source/_navigation.scss */
.menu ul {
  list-style: none;
}
/* line 165, source/_navigation.scss */
.menu li {
  display: inline-block;
  vertical-align: top;
  height: 50px;
}
/* line 169, source/_navigation.scss */
.menu li a {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
/* line 177, source/_navigation.scss */
.menu:hover div.menu-text-expanded {
  width: 460px;
  padding: 0 20px;
}

/*********************************************************_console.scss*/
/* line 5, source/_console.scss */
.console {
  font-size: 12px;
  font-family: monospace;
  color: #999;
}
/* line 10, source/_console.scss */
.console .red {
  color: #F00;
}
/* line 11, source/_console.scss */
.console .blue {
  color: #00F;
}
/* line 12, source/_console.scss */
.console .green {
  color: #0F0;
}

/* line 14, source/_console.scss */
#global-console {
  cursor: default;
  padding-left: 2px;
  overflow: visible;
  -webkit-transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out;
}
/* line 23, source/_console.scss */
#global-console div {
  -webkit-animation: console-entry-fadein 0.5s ease-in;
  -moz-animation: console-entry-fadein 0.5s ease-in;
  animation: console-entry-fadein 0.5s ease-in;
}
/* line 24, source/_console.scss */
#global-console > div:before {
  content: '> ';
  color: #999;
}
/* line 26, source/_console.scss */
#global-console.anchor-windowed, #global-console.anchor-lower-left, #global-console.anchor-lower-right, #global-console.anchor-upper-left, #global-console.anchor-upper-right {
  border: 1px solid #0F0;
}
/* line 27, source/_console.scss */
#global-console.anchor-lower-left {
  top: 50%;
  right: 50%;
  bottom: 0;
  left: 0;
}
/* line 28, source/_console.scss */
#global-console.anchor-lower-right {
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
}
/* line 29, source/_console.scss */
#global-console.anchor-upper-left {
  top: 0;
  right: 50%;
  bottom: 50%;
  left: 0;
}
/* line 30, source/_console.scss */
#global-console.anchor-upper-right {
  top: 0;
  right: 0;
  bottom: 50%;
  left: 50%;
}

/********************************************************Animations*/
@-webkit-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333;
  }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
}
@-moz-keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333;
  }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
}
@keyframes console-entry-fadein {
  0% {
    opacity: 0;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 white;
    background-color: #333;
  }
  100% {
    text-shadow: 0 0 rgba(255, 255, 255, 0);
    background-color: transparent;
  }
}
/**************************************************************_nojs.scss*/
/* line 5, source/_nojs.scss */
#nojs {
  background-color: #120203;
  font-size: 0;
  z-index: 9999999999;
}

/***************************************************************Graphics*/
/* line 13, source/_nojs.scss */
#nojs_graphic {
  width: 40%;
  text-align: right;
  min-height: 100%;
  font-size: 20px;
  float: left;
  font-size: 0;
}
/* line 20, source/_nojs.scss */
#nojs_graphic div {
  display: inline-block;
}
/* line 21, source/_nojs.scss */
#nojs_graphic .clearfix {
  width: 100%;
  height: 0px;
  opacity: 0;
}
/* line 22, source/_nojs.scss */
#nojs_graphic > div {
  text-align: center;
  width: 250px;
  margin-right: 20%;
}

/* line 24, source/_nojs.scss */
#nojs_plug_cord {
  height: 200px;
  width: 50px;
  background-color: #020203;
}
@media (max-height: 800px) {
  /* line 24, source/_nojs.scss */
  #nojs_plug_cord {
    height: 100px;
  }
}

/* line 30, source/_nojs.scss */
#nojs_plug_head {
  height: 125px;
  width: 250px;
  border-radius: 125px 125px 0 0;
  background-color: #020203;
  margin-top: -10px;
}

/* line 37, source/_nojs.scss */
.nojs_socket_prong {
  height: 100px;
  width: 50px;
  background-color: #020203;
  border-radius: 0 0 10px 10px;
}

/* line 43, source/_nojs.scss */
#nojs_socket {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #020203;
  margin-top: 100px;
}
@media (max-height: 800px) {
  /* line 43, source/_nojs.scss */
  #nojs_socket {
    margin-top: 30px;
  }
}

/* line 51, source/_nojs.scss */
.nojs_socket_pin {
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 25px;
}

/* line 57, source/_nojs.scss */
.nojs_socket_pin_spacer {
  width: 30px;
}

/* line 60, source/_nojs.scss */
#nojs_socket_pins {
  margin-top: 100px;
}

/***************************************************************Text*/
/* line 65, source/_nojs.scss */
#nojs_text_push {
  height: 50%;
  width: 1px;
  float: left;
}

/* line 70, source/_nojs.scss */
#nojs_text {
  width: 60%;
  font-size: 30px;
  float: left;
}
/* line 74, source/_nojs.scss */
#nojs_text > div {
  margin-top: -217px;
  width: 500px;
}
/* line 76, source/_nojs.scss */
#nojs_text > div > h1 {
  border-bottom: 3px solid #4A9507;
}

/******************************************_home.scss*/
/* line 2, source/_home.scss */
#home-render-window {
  width: 100%;
  height: 1200px;
}

/* line 6, source/_home.scss */
.spacer.home-intro-text {
  height: 10px;
}

/****************************************************************Changelog*/
/* line 4, source/_about.scss */
.git-list {
  padding: 0;
  margin: 0;
}
/* line 6, source/_about.scss */
.git-list dd {
  border-left: 5px solid #4A9507;
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 11, source/_about.scss */
.git-list dt {
  font-weight: bold;
  padding: 10px;
}
/* line 15, source/_about.scss */
.git-list blockquote {
  padding: 4px 0 4px 10px;
  margin: 0 40px 0 40px;
  font-style: italic;
}

/* line 21, source/_about.scss */
.git-linecounts {
  float: left;
}
/* line 23, source/_about.scss */
.git-linecounts .git-linecount, .git-linecounts .git-additions, .git-linecounts .git-subtractions, .git-linecounts .git-delta {
  display: inline-block;
  padding-right: 7px;
}
/* line 26, source/_about.scss */
.git-linecounts .git-linecount:before, .git-linecounts .git-additions:before, .git-linecounts .git-subtractions:before, .git-linecounts .git-delta:before {
  padding-right: 4px;
}
/* line 28, source/_about.scss */
.git-linecounts .git-additions {
  color: #4A9507;
}
/* line 31, source/_about.scss */
.git-linecounts .git-additions:before {
  content: '+';
}
/* line 33, source/_about.scss */
.git-linecounts .git-subtractions {
  color: #776F83;
}
/* line 36, source/_about.scss */
.git-linecounts .git-subtractions:before {
  content: '-';
}
/* line 38, source/_about.scss */
.git-linecounts .git-delta {
  color: #9DAC8F;
}
/* line 41, source/_about.scss */
.git-linecounts .git-delta:before {
  content: 'Δ';
}

/* line 45, source/_about.scss */
.git-files {
  clear: both;
  padding: 10px 0;
}

/* line 49, source/_about.scss */
.git-file {
  padding: 4px 10px 4px 10px;
  margin: 6px 0 6px 0;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  border-bottom: 1px solid #222;
}
/* line 58, source/_about.scss */
.git-file .sha {
  text-align: center;
  font-size: 10px;
}
/* line 62, source/_about.scss */
.git-file .git-filename {
  text-align: center;
  margin-bottom: 10px;
}

/* line 67, source/_about.scss */
.git-file-status {
  display: block;
  float: right;
}
/* line 70, source/_about.scss */
.git-file-status.changed {
  color: #9DAC8F;
}
/* line 70, source/_about.scss */
.git-file-status.changed:before {
  content: "changed";
}
/* line 71, source/_about.scss */
.git-file-status.added {
  color: #4A9507;
}
/* line 71, source/_about.scss */
.git-file-status.added:before {
  content: "added";
}
/* line 72, source/_about.scss */
.git-file-status.deleted {
  color: #776F83;
}
/* line 72, source/_about.scss */
.git-file-status.deleted:before {
  content: "deleted";
}

/* line 75, source/_about.scss */
.git-patch:before {
  content: 'Δ ';
}
/* line 76, source/_about.scss */
.git-patch:after {
  content: ' chars';
}

/****************************************************************Resume*/
/* line 86, source/_about.scss */
.resume {
  font-size: 16px;
}
/* line 89, source/_about.scss */
.resume *:before {
  font-weight: normal;
  font-style: normal;
}
/* line 90, source/_about.scss */
.resume *:after {
  font-weight: normal;
  font-style: normal;
}

/* line 93, source/_about.scss */
.email-dm::before {
  content: "\006b\006f\0064\006c\0065\0065";
}

/***HTML Tag*/
/* line 99, source/_about.scss */
.resume-section {
  font-size: 24px;
}
/* line 101, source/_about.scss */
.resume-section.start {
  color: rgba(255, 255, 255, 0.7);
  clear: both;
}
/* line 83, source/_about.scss */
.resume-section.start:before {
  content: "<";
  color: rgba(255, 255, 255, 0.3);
}
/* line 84, source/_about.scss */
.resume-section.start:after {
  content: ">";
  color: rgba(255, 255, 255, 0.3);
}
/* line 106, source/_about.scss */
.resume-section.end {
  color: rgba(255, 255, 255, 0.3);
  float: right;
}
/* line 83, source/_about.scss */
.resume-section.end:before {
  content: "</";
  color: rgba(255, 255, 255, 0.3);
}
/* line 84, source/_about.scss */
.resume-section.end:after {
  content: ">";
  color: rgba(255, 255, 255, 0.3);
}

/* line 113, source/_about.scss */
.resume-triple-list {
  margin: 20px 0;
}
/* line 115, source/_about.scss */
.resume-triple-list .title {
  float: left;
  width: 400px;
  font-weight: bold;
}
/* line 120, source/_about.scss */
.resume-triple-list .location {
  float: left;
}
/* line 123, source/_about.scss */
.resume-triple-list .date {
  float: right;
}
/* line 126, source/_about.scss */
.resume-triple-list .subtitle {
  clear: both;
  font-style: italic;
  color: rgba(255, 255, 255, 0.3);
}

/* line 133, source/_about.scss */
.resume-list, .resume-triple-list ul {
  border-left: 2px solid #4A9507;
  padding: 3px 0 3px 20px;
  margin: 15px 0 25px 34px;
  clear: both;
}
/* line 138, source/_about.scss */
.resume-list li, .resume-triple-list ul li {
  margin-left: 15px;
}

/* line 143, source/_about.scss */
.privacy-policy, .legal-policy {
  width: 1000px;
  margin: 50px auto;
}
/* line 147, source/_about.scss */
.privacy-policy h1, .legal-policy h1 {
  text-align: center;
}
/* line 151, source/_about.scss */
.privacy-policy h2, .legal-policy h2 {
  margin-top: 35px;
}
/* line 155, source/_about.scss */
.privacy-policy h3, .legal-policy h3 {
  margin-top: 50px;
}
/* line 159, source/_about.scss */
.privacy-policy div, .legal-policy div {
  margin: 10px 0 0 15px;
  padding-left: 15px;
  border-left: 1px solid #4A9507;
  text-indent: 25px;
}

/* line 167, source/_about.scss */
.projects-spacer {
  height: 50px;
}

/* line 172, source/_about.scss */
.resume-download a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #333;
  margin: 10px 5px;
}
/* line 178, source/_about.scss */
.resume-download a:hover {
  color: #FFF;
}

/****************************************************************Tools*/
/* line 2, source/_tools.scss */
.tools-list {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 7, source/_tools.scss */
.tools-list tr {
  border-bottom: 1px solid #030;
}
/* line 14, source/_tools.scss */
.tools-list thead tr th:nth-child(1) {
  width: 250px;
}
/* line 17, source/_tools.scss */
.tools-list thead tr th:nth-child(3) {
  width: 200px;
}
/* line 22, source/_tools.scss */
.tools-list tbody tr {
  cursor: pointer;
}
/* line 24, source/_tools.scss */
.tools-list tbody tr td {
  padding: 20px;
}
/* line 27, source/_tools.scss */
.tools-list tbody tr:nth-child(even) {
  background-color: #020;
}
/* line 30, source/_tools.scss */
.tools-list tbody tr:hover {
  background-color: #222;
}

/* line 35, source/_tools.scss */
.tools-list-title {
  font-size: 24px;
  color: #120203;
  font-weight: bold;
  margin-top: 32px;
}

/***thetime*/
/* line 43, source/_tools.scss */
.thetime-banner {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
}

/* line 48, source/_tools.scss */
.thetime-sub {
  text-align: center;
}

/* line 56, source/_tools.scss */
.wordhero .board {
  margin-right: 20px;
  display: inline-block;
  width: 456px;
  vertical-align: top;
}
/* line 62, source/_tools.scss */
.wordhero .board input {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 0;
  border: 1px solid #00F;
  border-radius: 5px;
  text-align: center;
  background-color: #000;
  color: #CCC;
  line-height: 100px;
  font-size: 38px;
  background-color: #003;
  cursor: pointer;
}
/* line 79, source/_tools.scss */
.wordhero .board input:nth-child(4n) {
  margin-right: 0;
}
/* line 85, source/_tools.scss */
.wordhero .wordlist {
  display: inline-block;
  vertical-align: top;
  height: 456px;
  overflow: auto;
  width: 320px;
  padding-right: 10px;
  margin-right: 20px;
}
/* line 93, source/_tools.scss */
.wordhero .wordlist table, .wordhero .wordlist tr, .wordhero .wordlist td {
  padding: 0;
  margin: 0;
}
/* line 97, source/_tools.scss */
.wordhero .wordlist table {
  width: 100%;
  border-collapse: collapse;
}
/* line 101, source/_tools.scss */
.wordhero .wordlist table tr {
  width: 100%;
}
/* line 104, source/_tools.scss */
.wordhero .wordlist table tr td:nth-child(2) {
  width: 19px;
  text-align: right;
}
/* line 112, source/_tools.scss */
.wordhero .stats {
  display: inline-block;
}

/* line 116, source/_tools.scss */
#wh-messages {
  margin-top: 20px;
}
/* line 118, source/_tools.scss */
#wh-messages div {
  cursor: pointer;
  padding: 3px 0;
}

/****************************************************************project.scss*/
/* line 2, source/_projects.scss */
.projects {
  margin-bottom: 20px;
}
/* line 5, source/_projects.scss */
.projects .project-list {
  width: 50%;
  float: left;
  height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: auto;
}
/* line 13, source/_projects.scss */
.projects .page, .projects .page-title {
  margin-bottom: 15px;
}
/* line 16, source/_projects.scss */
.projects ul {
  margin-bottom: 30px;
  list-style: none;
  width: 100%;
  overflow: auto;
}
/* line 22, source/_projects.scss */
.projects li {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  color: #9DAC8F;
  background-color: #120203;
  -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  padding: 5px 20px;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 35, source/_projects.scss */
.projects li:hover {
  color: #120203;
  background-color: #9DAC8F;
}
/* line 41, source/_projects.scss */
.projects .more {
  box-sizing: border-box;
  border-left: 1px solid #9DAC8F;
  width: 50%;
  float: left;
  padding: 20px;
  height: 100vh;
  overflow: auto;
}
/* line 50, source/_projects.scss */
.projects .more div {
  display: none;
}
/* line 53, source/_projects.scss */
.projects .more p {
  margin-bottom: 40px;
}
/* line 57, source/_projects.scss */
.projects .more a {
  display: block;
  padding: 5px 0;
  background-color: #1F1233;
  color: #776F83;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 20px;
}
/* line 66, source/_projects.scss */
.projects .more a:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 71, source/_projects.scss */
.projects dt {
  font-weight: bold;
}
/* line 74, source/_projects.scss */
.projects dd {
  margin: 0 0 30px 15px;
  color: #9DAC8F;
}

/* line 1, source/_login.scss */
.spacer.login {
  height: 200px;
}
@media (max-height: 700px) {
  /* line 1, source/_login.scss */
  .spacer.login {
    height: 50px;
  }
}

/* line 8, source/_login.scss */
.login-form {
  width: 600px;
  background-color: #111;
  height: 300px;
  margin: 0px auto;
  box-shadow: 10px 10px 10px 0 #191919;
}
